@using System.Web.Mvc.Html
@using Sistran.Core.Framework.UIF.Web.Resources

@{
    Layout = null;
}
<div class="uif-panel">
    <div class="uif-row">
        <div class="uif-col-8">
            <b>@Global.Line:</b>
            <select class="uif-select form-control"
                    id="LineId" name="LineId"
                    data-id="LineId" data-name="Description"
                    data-native="true"
                    data-val="true"
                    data-val-required=@Global.RequiredField></select>
            <span class="text-danger" data-valmsg-for="LineId" data-valmsg-replace="true"></span>
        </div>
    </div>
</div>

<input type="hidden" id="ReinsuranceLineId" value="" />
