
@{
    Layout = null;
}
<script id="display-template-Entities" type="text/template">
    <div>
        <h5>{{EntityDescription}} </h5>
    </div>
</script>
<div class="row">
    <div class="uif-col-12">
        <div class="uif-listview" id="listViewEntities"></div>
    </div>
</div>
<div class="uif-modal" id="EntitiesEditModal">
    <div class="uif-modalbody">
        @Html.Partial("../EventsSarlaftModal/EntitiesEditModal")
    </div>
</div>