<form id="formProtection" class="form">
    <template id="ProtectionsTemplate">
        <div>
            <label>
                {{DescriptionLong}} ({{Id}})
            </label>
        </div>
    </template>
    <div class="uif-row" id="mainProtectionLineBusiness">
        <div class="uif-col-12">
            <div class="uif-row">
                <div class="uif-col-5">
                    <div class="uif-listview" id="listviewProtectionLineBusiness">
                    </div>
                </div>
                <div class="uif-col-2">
                    <div class="uif-row">
                        <div class="uif-col-12 centerAlign">
                            <button type="button" class="btn btn-default centerAlign middleWidth" id="btnModalProtectionLineBusinessAssignAll">
                                <span class="" aria-hidden="true">>></span>
                            </button>
                        </div>
                    </div>
                    <div class="uif-row">
                        <div class="uif-col-12 centerAlign">
                            <button type="button" class="btn btn-default centerAlign middleWidth" id="btnModalProtectionLineBusinessDeallocateAll">
                                <span class="" aria-hidden="true"><<</span>
                            </button>
                        </div>
                    </div>
                    <div class="uif-row">
                        <div class="uif-col-12 centerAlign">
                            <button type="button" class="btn btn-default centerAlign middleWidth" id="btnModalProtectionLineBusinessAssign">
                                <span class="" aria-hidden="true">></span>
                            </button>
                        </div>
                    </div>
                    <div class="uif-row">
                        <div class="uif-col-12 centerAlign">
                            <button type="button" class="btn btn-default centerAlign middleWidth" id="btnModalProtectionLineBusinessDeallocate">
                                <span class="" aria-hidden="true"><</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="uif-col-5">
                    <div class="uif-listview" id="listviewProtectionLineBusinessAssing">
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    @*@section Scripts{
        <script src="@Url.Content("~/Areas/Parametrization/Scripts/LineBusiness/ProtectionsParametrization.js")"></script>
    }*@
</form>
