/*  */
#nprogress .bar {
    background: #b2be3c !important;
    border: solid 1px #c9db23!important;
    }

a {
    color: #1e6746;
}

a:focus, a:hover {
    color: #a5b9b2;
    text-decoration: underline;
}

header{
    background:#173d27;
}

a.logo{
	background: #173d27;
}

/*  */
nav .logo {
    background: #173d27;
}

/*  */
.main-menu li.active>a {
    color: #173d27;
}

/*  */
.btn.btn-primary{
    background: #38571a ;
    border-color :#0a1b11;
}

/*  */
.uif-input-search:focus,
.main-title .uif-inputsearch-group .input-group-addon:focus
{
    border: solid 1px #a4b317!important;
    height: 36px;
}

h2 {
    background: #1e6746!important;
}

.ReactTable .-pagination{
 background: #81948d!important;
}

button.-btn {

    background: #b1c7bf!important;
    border: 1px solid #616b67!important;
}

select :hover{
    background-color: #173d27;    
}

#DocumentType :hover{  
    background: #173d27;
}
/* .uif-select{
    background: #173d27;
} */

.uif-select.important{
    background: #173d27;
}

/*  */
.breadcrumb-wrapper{
    background: #173d27;
}

/*  */
div.column-30.even{
    background: #b2be3c ;
}

/*  */
.main-title>div{
    background:  #1e6746 ;
}

/*  */
nav{
    color: #173d27;
}

/*  */
.btn.btn-primary-Co.width-container{
    background: #b2be3c;
}


/*  */
.btn-default, 
.btn-default .caret, 
.btn-default i{
    color: #173d27; 
}

/*  */
.main-menu>li a{
    color: #173d27;
}

.main-menu>li ul>li a {
    color: #1e6746;
}

.main-menu>li a:hover {
    color: #a5b9b2;
}


/*  */
.uif-listview .item-list .content {
    background: #cbdfd9;
}

/*  */
select:focus, input:focus,
.btn-default:focus,
.btn-default .caret:focus,
.btn-default i:focus,
textarea:focus,
.uif-inputsearch-group:focus,
.input-group-addon:focus,
.panel-table .pagination>li:first-child>a:focus, 
.panel-table .pagination>li:first-child>a:hover,
.panel-table .pagination>li:first-child>span:focus,
.panel-table .pagination>li:last-child>a:focus,
.panel-table .pagination>li:last-child>a:hover,
.btn-primary:focus,
.btn-primary-Co:focus,
.btn-primary-Co:hover,
.pagination>li>a:focus, 
.pagination>li>a:hover, 
.pagination>.active>a:focus, 
.bootstrap-select.btn-group .dropdown-menu li a:focus,
.bootstrap-select.btn-group .dropdown-menu li a:hover{
    outline: none !important;
    border: 1px solid!important;
    border-color: #173d27!important;
    border-radius: 2px;
}

.pagination>li>a,
.pagination>li>a:hover{
    color:#173d27;
}

/*  */
.main-title>div .important {
    background: #1e6746;
}

.btn:focus{
    color: #fff!important;
}

/*  */
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover {
    color: #fff!important;
    background: #1e6746!important;
}

/*  */
.uif-listview:hover 
.content-filter:hover 
.input-search:hover{
    color:#1e6746!important; 
}

/*  */
.uif-listview .item-list .content .item.active, 
.uif-listview .item-list .content .item.selected,
.uif-listview .item-list .content .item:hover {
    background: #a5b9b2;
    border-left: 2px solid #173d27;
}

/*  */
.bootstrap-select .dropdown-toggle:focus {
    outline: auto #1e6746 5px!important;
    color: #a0a1a2!important;
    border: #1e6746!important;
}

/*  */
.uif-listview .content-filter:hover {
    border: 1px solid #1e6746;
}

/*  */

 /*  */
 .modal-header {
    border-bottom: 2px solid #173d27;
    color: #173d27;
}

/*  */
.modal-footer {
    border-top: 2px solid #173d27;
}

/*  */
.secondary-Colombia {
    color: #173d27!important;
}

/*  */
[type=checkbox]:checked+[type=hidden]+label:after, 
[type=checkbox]:checked+label:after, 
[type=checkbox]:not(:checked)+[type=hidden]+label:after, 
[type=checkbox]:not(:checked)+label:after {
    color: #173d27;
}

/*  */
.form .fa,
.form i, 
.main-container .fa, 
.main-container i {
    color: #173d27;
}

/*  */
.datepicker table tr td.active.active, 
.datepicker table tr td.active.highlighted.active, 
.datepicker table tr td.active.highlighted:active, 
.datepicker table tr td.active.highlighted:hover, 
.datepicker table tr td.active:active, 
.datepicker table tr td.active:hover {
    background-color: #173d27;
    border-color: #333;
}

/*  */
.panel-table .btn-table span {
    color: #173d27!important;
}

/*  */
.panel-table .row-selected {
    background: #a5b9b2;
}

/*  */
.panel-table .panel-heading .panel-title {
    color: #173d27;
    border-bottom: 1px solid #173d27;
}

/*Fondo de Tablas*/
.panel-table .table-hover>tbody>tr:hover, 
.panel-table .table>tbody>tr.active>td, 
.panel-table .table>tbody>tr.active>th, 
.panel-table .table>tbody>tr>td.active, 
.panel-table .table>tbody>tr>th.active, 
.panel-table .table>tfoot>tr.active>td, 
.panel-table .table>tfoot>tr.active>th, 
.panel-table .table>tfoot>tr>td.active, 
.panel-table .table>tfoot>tr>th.active, 
.panel-table .table>thead>tr.active>td, 
.panel-table .table>thead>tr.active>th, 
.panel-table .table>thead>tr>td.active, 
.panel-table .table>thead>tr>th.active {
    background: #a5b9b2;
}

/*  */
.btn-primary-Co {
    color: #fff;
    background: #38571a;
}

.btn-primary-Co:hover {
    background: #cbdfd9;
    color: #fff;
}



input[type=search]::placeholder, input[type=search]{
    color: #173d27!important;
}

.uif-listview .content-filter .btn-search-listview i:active {
    color: #173d27;
}
    
/* #DocumentType option:checked {
    background-color:darkmagenta;
    color:aqua;
    margin-left:30px;
} */

.panel-table .tfooter {
    background: #cbdfd9;
}

button.sc-bwzfXH.jrETip {
    color: #173d27!important;
}

button.sc-bwzfXH.dfvnMZ {
    color: #173d27!important;
}

i.icon.plus:before {
    color: #173d27!important;
}
i.icon.download:before {
    color: #173d27!important;
}

element.style {
    border-top: 1px solid #1e6746;
}

.btn-primary:active:focus, .btn-primary:active:hover{
    background-color: #a5b9b2;
    border-color: #cbdfd9;
}

.uif-listview .content-filter:hover i.fa-search {
    color: #1e6746;
}

.uif-listview .content-filter:hover input:hover {
    color: #1e6746;
}

header .global-header-notification-button {
    background: #fff;
    color: #1e6746;
}


header .global-header-notification-button:hover {
    background: #a5b9b2;
    color: #fff;
}

header .notification-counter {
    background-color: #406b52;
    color: #fff;
}

header .global-header-notification-button.marked:hover {
    color: #a5b9b2;
    background: #f3f3f3;
}

.pagination>.active>a{
    background-color: #cbdfd9;
    border-color: #a5b9b2;
}

.pagination>.active>a:focus, .pagination>.active>a:hover{
    background-color: #a5b9b2;
    color: #fff;
}

.btn-primary[disabled]:hover{
    background-color: #a5b9b2;
    border-color: #173d27;
}

.main-title>div.even {
    background: #b2be3c;
}

.datepicker table tr td.active.active:hover{
    background-color: #a5b9b2;
    border-color:#1e6746;
}


#selectSearchPersonType{
    background: #1e6746;
}

.bootstrap-select [data-id="selectSearchPersonType"]
{ 
    color:#fff;
    background: #1e6746;
    border: solid 1px #245d43; 
    border-right: solid 2px #245d43;
}

bootstrap-select [data-id="selectSearchPersonType"]
.btn-default[data-id="selectSearchPersonType"]:active:focus,
.btn-default[data-id="selectSearchPersonType"]:active:hover,
.open>.dropdown-toggle.btn-default[data-id="selectSearchPersonType"],
.open>.dropdown-toggle.btn-default[data-id="selectSearchPersonType"]:active,
.open>.dropdown-toggle.btn-default[data-id="selectSearchPersonType"]:focus, 
.open>.dropdown-toggle.btn-default[data-id="selectSearchPersonType"]:hover{
    color:#fff;
    background: #1e6746;
    border-color: #17613f;
}


.bootstrap-select [data-id="selectSearchTechnicalBranch"]
{ 
    color:#fff!important;
    background: #1e6746;
    border: solid 1px #245d43; 
    border-right: solid 2px #245d43;
}

bootstrap-select [data-id="selectSearchTechnicalBranch"]
.btn-default[data-id="selectSearchTechnicalBranch"]:active:focus,
.btn-default[data-id="selectSearchTechnicalBranch"]:active:hover,
.open>.dropdown-toggle.btn-default[data-id="selectSearchTechnicalBranch"],
.open>.dropdown-toggle.btn-default[data-id="selectSearchTechnicalBranch"]:active,
.open>.dropdown-toggle.btn-default[data-id="selectSearchTechnicalBranch"]:focus, 
.open>.dropdown-toggle.btn-default[data-id="selectSearchTechnicalBranch"]:hover{
    color:#fff!important;
    background: #1e6746;
    border-color: #17613f;
}



.bootstrap-select [data-id="ddlStatusPolicies"]
{ 
    color:#fff!important;
    background: #1e6746;
    border: solid 1px #245d43; 
    border-right: solid 2px #245d43;
}

bootstrap-select [data-id="ddlStatusPolicies"]
.btn-default[data-id="ddlStatusPolicies"]:active:focus,
.btn-default[data-id="ddlStatusPolicies"]:active:hover,
.open>.dropdown-toggle.btn-default[data-id="ddlStatusPolicies"],
.open>.dropdown-toggle.btn-default[data-id="ddlStatusPolicies"]:active,
.open>.dropdown-toggle.btn-default[data-id="ddlStatusPolicies"]:focus, 
.open>.dropdown-toggle.btn-default[data-id="ddlStatusPolicies"]:hover{
    color:#fff!important;
    background: #1e6746;
    border-color: #17613f;
}


.bootstrap-select [data-id="ddlGroupPolicies"]
{ 
    color:#fff!important;
    background: #1e6746;
    border: solid 1px #245d43; 
    border-right: solid 2px #245d43;
}

bootstrap-select [data-id="ddlGroupPolicies"]
.btn-default[data-id="ddlGroupPolicies"]:active:focus,
.btn-default[data-id="ddlGroupPolicies"]:active:hover,
.open>.dropdown-toggle.btn-default[data-id="ddlGroupPolicies"],
.open>.dropdown-toggle.btn-default[data-id="ddlGroupPolicies"]:active,
.open>.dropdown-toggle.btn-default[data-id="ddlGroupPolicies"]:focus, 
.open>.dropdown-toggle.btn-default[data-id="ddlGroupPolicies"]:hover{
    color:#fff!important;
    background: #1e6746;
    border-color: #17613f;
}

.bootstrap-select [data-id="ddlPackage"]
{ 
    color:#fff!important;
    background: #1e6746;
    border: solid 1px #245d43; 
    border-right: solid 2px #245d43;
}

bootstrap-select [data-id="ddlPackage"]
.btn-default[data-id="ddlPackage"]:active:focus,
.btn-default[data-id="ddlPackage"]:active:hover,
.open>.dropdown-toggle.btn-default[data-id="ddlPackage"],
.open>.dropdown-toggle.btn-default[data-id="ddlPackage"]:active,
.open>.dropdown-toggle.btn-default[data-id="ddlPackage"]:focus, 
.open>.dropdown-toggle.btn-default[data-id="ddlPackage"]:hover{
    color:#fff!important;
    background: #1e6746;
    border-color: #17613f;
}



.bootstrap-select [data-id="selectSearchType"] {
    color: #fff!important;
    background: #b2be3c;
    border: solid 1px #b2be3c;
}

bootstrap-select [data-id="selectSearchType"]
.btn-default[data-id="selectSearchType"]:active:focus,
.btn-default[data-id="selectSearchType"]:active:hover,
.open>.dropdown-toggle.btn-default[data-id="selectSearchType"],
.open>.dropdown-toggle.btn-default[data-id="selectSearchType"]:active,
.open>.dropdown-toggle.btn-default[data-id="selectSearchType"]:focus, 
.open>.dropdown-toggle.btn-default[data-id="selectSearchType"]:hover{
    color: #fff!important;
    background: #b2be3c;
    border-color: #a2af1b!important;
    outline: auto #95a025 5px!important;
}
.main-title .uif-inputsearch-group{
    background: #b2be3c;
}


.main-title .uif-inputsearch-group .input-group-addon {
    height: 36px;
}

.uif-summary .items .item.primary div div:last-child {
    color:#1e6746;
}

.main-title>div>.btn{
    background: #c3d04b;
}

.main-title>div{
    background:  #1e6746 ;
}

.uif-inputsearch-group:focus{
    border: 1px solid!important;
    border-color:#c3d04b!important;
}

/* btn-default:active:focus, .btn-default:active:hover{
    color: #1e6746;
    background-color: #c3d04b;
} */

.box-title {
    color: #173d27;
}

.primary {
    color: #1e6746;
}

.main-title>div>.btn:focus {
    border: 1px solid #c3d04b!important;
    border-color: #a5b13c!important;
}

.main-title>div>.btn:active:focus {
    background: #97a22b!important;
    border-color: #707b01!important;
}

button.btn.dropdown-toggle.btn-default[data-id="selectSearchType"]:active:focus {
    color:#fff;
    background: #b2be3c;
    border: 1px solid #b2be3c!important;
    border-color: #b2be3c!important;
    outline: auto 1px #9ca260!important;
}

button.btn.dropdown-toggle.btn-default[data-id="selectSearchType"]:focus {
    outline: auto #8d9635 5px!important;
    border-color: #d6de7c!important;
}

.uif-listview .add-section .add-button:hover {
    background: #173d27;
}

.bootstrap-select [data-id="selectSearchProduct"]
{ 
    color:#fff!important;
    background: #1e6746;
    border: solid 1px #17613f; 
}

.bootstrap-select [data-id="selectSearchProduct"]
.btn-default[data-id="selectSearchProduct"]:active:focus,
.btn-default[data-id="selectSearchProduct"]:active:hover,
.open>.dropdown-toggle.btn-default[data-id="selectSearchProduct"],
.open>.dropdown-toggle.btn-default[data-id="selectSearchProduct"]:active,
.open>.dropdown-toggle.btn-default[data-id="selectSearchProduct"]:focus, 
.open>.dropdown-toggle.btn-default[data-id="selectSearchProduct"]:hover{
    color:#fff!important;
    background: #1e6746;
    border-color: #17613f;
}



.bootstrap-select [data-id="ddlPrefixSimpleSearch"]
{ 
    color:#fff!important;
    background: #1e6746;
    border: solid 1px #17613f; 
}

.bootstrap-select [data-id="ddlPrefixSimpleSearch"]
.btn-default[data-id="ddlPrefixSimpleSearch"]:active:focus,
.btn-default[data-id="ddlPrefixSimpleSearch"]:active:hover,
.open>.dropdown-toggle.btn-default[data-id="ddlPrefixSimpleSearch"],
.open>.dropdown-toggle.btn-default[data-id="ddlPrefixSimpleSearch"]:active,
.open>.dropdown-toggle.btn-default[data-id="ddlPrefixSimpleSearch"]:focus, 
.open>.dropdown-toggle.btn-default[data-id="ddlPrefixSimpleSearch"]:hover{
    color:#fff!important;
    background: #1e6746;
    border-color: #17613f;
}

.panel-table .btn {
    color: #173d27;
}

.panel-default>.panel-heading {
    background-color: #cbdfd9;
}

h4.panel-title {
    color: #173d27;
}

.main-title {
    line-height: 36px;
    display: block;
    max-height: none;
    background-color: #1e6746 !important;
}