@*Fields ListView*@
@{ 
    Layout = null;
}
<script type="text/template" id="templatePaymentPlanAdv">
    <div><strong>{{Description}} ({{Id}})</strong></div>
    <div>{{SmallDescription}}</div>
    <div>@Resources.Language.NumberQuota: {{Quantity}}</div>
</script>

<div class="row">
    <div class="uif-col-12">
        <div class="uif-listview" id="listViewAdv"></div>
    </div>
</div>
<div class="row">
    <div class="uif-col-12">
        <div class="pull-right width-save">
            <button class="btn btn-default" id="btnCancelAdv" data-dismiss="modal" type="button">@Resources.Language.Close</button>
            <button class="btn btn-primary" id="btnAcceptdAdv" type="button">@Resources.Language.Accept</button>
        </div>
    </div>
</div>
