[submodule "Core"]
	path = Core
	url = https://devops.sistran.com/UNPeru/Nase/_git/NASE_3GR2_CORE
[submodule "Company"]
	path = Company
	url = https://devops.sistran.com/UNPeru/Nase/_git/NASE_3GR2
[submodule "DbSql"]
	path = DbSql
	url = https://devops.sistran.com/UNPeru/Nase/_git/NSE_3GR2_DB
[submodule "Integration"]
	path = Integration
	url = https://devops.sistran.com/UNPeru/Nase/_git/NASE_INTEGRADOR
[submodule "IntegrationSise"]
	path = IntegrationSise
	url = https://devops.sistran.com/UNPeru/Nase/_git/NASE_APPLICATION_INTEGRATION_SISE
[submodule "Packages"]
	path = Packages
	url = https://devops.sistran.com/UNPeru/Nase/_git/NASE_PACKAGES
[submodule "Testool"]
	path = Testool
	url = https://devops.sistran.com/UNPeru/Nase/_git/NASE_TESTTOOLS
