<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Favoritos</a></li>
    
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <ul class="nav nav-pills">
    <li class="uif2_menuitem"><a href="/Underwriting/Index"><i class="icon-circle-arrow-right"></i> Emisión</a></li>
</ul>
    </div>
    <div class="tab-pane" id="tab2">
      
    </div>
  </div>
</div>