
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Consulta Poliza</div>
        <div class="panel-body">
            <div class="row">
                <div class="cod-md-offset-10 col-md-10">@Html.ActionLink("Comparador de Póliza", "Index", "Poliza", null, null)</div>
                <!--
                <div class="cod-md-offset-10 col-md-10">@Html.ActionLink("Consultar Temporal (JSon)", "Temporal", "Poliza", new { }, null)</div>
                    -->
            </div>
        </div>
    </div>
</div>



