@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <title>Forms Admin Module</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="~/build/static/css/dynamic-form-1.1.2.7.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="~/build/static/js/polyfill.js"></script>

    <script type="text/javascript" src="~/build/static/js/dynamic-form-1.1.2.7.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
