@{
    Layout = null;
}
<form class="form">
    <div class="row">
        <div class="uif-col-12">
            <div class="uif-listview" id="lvSearchAdvProtection">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <div class="pull-right width-save">
                <button class="btn btn-default" id="btnCancelPerilAdv" type="button">@Resources.Language.Close</button>
                <button class="btn btn-primary" id="btnOkPerilSearchAdv" type="button">@Resources.Language.Accept</button>
            </div>
        </div>
    </div>
</form>
