<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicEndpoint" />
        <binding name="BasicHttpBinding_IQueueBrokerService" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:1001/External/QueueBrokerService"
        binding="basicHttpBinding" bindingConfiguration="basicEndpoint"
        contract="QueueBrokerService.IQueueBrokerService" name="basicEndpoint" />
      <endpoint address="http://localhost:1001/QueueBrokerService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueueBrokerService"
        contract="QueueBrokerService.IQueueBrokerService" name="BasicHttpBinding_IQueueBrokerService" />
    </client>
  </system.serviceModel>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
</startup>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
