<div class="uif-row">
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-title="" data-selectiontype="none" id="tableResults" data-filter="false" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="Id">Codigo de ramo</th>
                        <th data-property="Description">Description larga</th>
                        <th data-property="SmallDescription">Description corta</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


