<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="sistran.core.framework">
      <section name="logging" type="Sistran.Core.Framework.Configuration.LoggingSection, Sistran.Core.Framework, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
      <sectionGroup name="saf">
        <section name="serviceManager" type="Sistran.Core.Framework.SAF.Configuration.ServiceManagerSection, Sistran.Core.Framework.SAF, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
        <section name="importedServices" type="Sistran.Core.Framework.SAF.Configuration.ImportedServicesSection, Sistran.Core.Framework.SAF, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
        <section name="remoteDynamicServices" type="Sistran.Core.Framework.SAF.Configuration.RemoteDynamicServicesSection, Sistran.Core.Framework.SAF, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
      </sectionGroup>
      <section name="exceptions" type="Sistran.Core.Framework.Configuration.ExceptionsSection, Sistran.Core.Framework, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="2000000000" maxReceivedMessageSize="2000000000" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthorization serviceAuthorizationManagerType="OperatingQuoteWebServices.Delegate.DelegateAuthorization, OperatingQuoteWebServices" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="False" />
  </system.webServer>
  <sistran.core.framework>
    <logging>
      <logger name="test" type="Sistran.Core.Framework.Logging.EventLogLogger, Sistran.Core.Framework,Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
    </logging>
    <saf>
      <serviceManager exceptionsHandler="webHandler">
        <extensions>
          <extension type="Sistran.Core.Framework.SAF.Extensions.WcfChannelsManagementExtension, Sistran.Core.Framework.SAF, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
        </extensions>
        <globals baseAddress="wcf://localhost:4010" defaultBinding="customTcp" />
      </serviceManager>
      <importedServices>
        <!--<service name="ITestService" contract="Sistran.Core.Framework.ITestService.ITestService, Sistran.Core.Framework.ITestService">
          <implementation type="Sistran.Core.Framework.TestServiceImpl.TestServiceImpl, Sistran.Core.Framework.TestServiceImpl" />
        </service>-->
      </importedServices>
      <remoteDynamicServices>
        <service name="FullServices" url="http://localhost:4010/FullServices" binding="basicHttpBinding" contract="Sistran.Co.Previsora.Application.FullServices.IFullServicesSUP, Sistran.Co.Previsora.Application.FullServices" />
      </remoteDynamicServices>
    </saf>
    <exceptions>
      <handler name="webHandler" logger="test">
        <add exception="System.ServiceModel.FaultException`1[[Sistran.Core.Framework.BAF.BusinessException, Sistran.Core.Framework.BAF,Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7]], System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" mapper="Sistran.Core.Framework.ServiceModel.FaultExceptionMapper, Sistran.Core.Framework.ServiceModel, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" formatter="Sistran.Core.Framework.ServiceModel.FaultExceptionFormatter, Sistran.Core.Framework.ServiceModel, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
        <add exception="System.ServiceModel.FaultException`1[[System.Exception, mscorlib]], System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" mapper="Sistran.Core.Framework.ServiceModel.FaultExceptionMapper, Sistran.Core.Framework.ServiceModel, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" formatter="Sistran.Core.Framework.ServiceModel.FaultExceptionFormatter, Sistran.Core.Framework.ServiceModel, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
      </handler>
    </exceptions>
  </sistran.core.framework>
</configuration>
<!--ProjectGuid: A95532CA-3917-4968-BA14-27D9191A8576-->