<audit isActive="true" msqName="AuditQueue">
<auditTypes>
<add type="Sistran.Core.Application.Common.Entities.Bank"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.BankBranch"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.Branch"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.Country"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.Currency"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.EconomicActivity"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.ExchangeRate"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.Guarantee"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.GuaranteeClass"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.GuaranteeRequiredDocument"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.GuaranteeStatus"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.GuaranteeType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.HouseType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.InterviewResult"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.OperationType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.PaymentMethod"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.PromissoryNoteType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.Quota"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.RiskTypeLocation"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.ServiceType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.State"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.SuretyContractCategories"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.SuretyContractType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.VehicleBody"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.VehicleColor"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.VehicleFuel"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.VehicleMake"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.VehicleType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Common.Entities.VehicleUse"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Parameters.Entities.AgentType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Parameters.Entities.BusinessType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Parameters.Entities.CancellationReason"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Parameters.Entities.PaymentMethod"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Parameters.Entities.PrefixEndoTypeEnabled"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Parameters.Entities.RiskCommercialClass"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Parameters.Entities.RiskCommercialType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Parameters.Entities.VehiclePart"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Parameters.Entities.ViaType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Quotation.Entities.ConstructionCategory"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.Quotation.Entities.DetailType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.AgentDeclinedType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.AgentGroup"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.Category"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.CompanyType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.DocumentType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.EducativeLevel"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.EmailType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.IncomeLevel"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.InsuredDeclinedType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.InterestGroupType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.MaritalStatus"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.Occupation"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.Role"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.SalesChannel"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.SocialLayer"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.Speciality"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.StreetType"  descriptionColumn="Description" />
<add type="Sistran.Core.Application.UniquePerson.Entities.SubRole"  descriptionColumn="Description" />
</auditTypes>
</audit>