<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
    <configSections>
        <sectionGroup name="sistran.core.framework">
            <section name="assemblyResolver" type="Sistran.Core.Framework.Configuration.AssemblyResolverSection, Sistran.Core.Framework, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
            <section name="logging" type="Sistran.Core.Framework.Configuration.LoggingSection, Sistran.Core.Framework, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
            <section name="audit" type="Sistran.Core.Framework.Audit.Configuration.AuditSection, Sistran.Core.Framework, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
            <section name="exceptions" type="Sistran.Core.Framework.Configuration.ExceptionsSection, Sistran.Core.Framework, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
            <section name="cache" type="Sistran.Core.Framework.Cache.Configuration.CacheSection, Sistran.Core.Framework.Cache, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
            <section name="applicationServer" type="Sistran.Core.Framework.ApplicationServer.Configuration.ApplicationServerSection, Sistran.Core.Framework.ApplicationServer, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
            <section name="daf" type="Sistran.Core.Framework.DAF.Engine.Configuration.DafSection, Sistran.Core.Framework.DAF.Engine, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
			<section name="queues" type="Sistran.Core.Framework.Queues.Configuration.QueuesSection, Sistran.Core.Framework.Queues" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    </appSettings>
    <system.web>
        <compilation targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
        <httpModules>
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
        </httpModules>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="WebDAVModule" />
            <remove name="ApplicationInsightsWebTracking" />
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
        </modules>
        <handlers>
            <remove name="WebDAV" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
    <connectionStrings>
    <add name="connectionTest" connectionString="server=COBOPNSESQL1;database=SISE_3GR2_DESA;user id=NASEDESA;password=Sistran+-*;Language=us_english;APP=DAF; Max Pool Size=300" providerName="Sistran.Core.Framework.DAF.Engine.Factories.SqlServerQueryConnectionFactory, Sistran.Core.Framework.DAF.Engine, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
    </connectionStrings>
    <sistran.core.framework>
        <assemblyResolver>
            <add path="D:\3G\System\4.3.1.0\Company\Bin\" />
        </assemblyResolver>
        <logging>
            <logger type="Sistran.Core.Framework.Logging.EventLogLogger, Sistran.Core.Framework, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" name="Application" />
            <logger type="Sistran.Core.Framework.Logging.EventLogLogger, Sistran.Core.Framework, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" name="SQLLog" />
        </logging>
        <audit configSource="Audit.config" />
        <queues hostName="localhost" virtualHost="/" userName="SistranQuee" password="SistranQuee" port="5672" serialization="true" />
        <exceptions>
            <handler name="Application" logger="Application" defaultMapper="Sistran.Core.Framework.ServiceModel.FaultExceptionMapper, Sistran.Core.Framework.ServiceModel" defaultFormatter="Sistran.Core.Framework.ServiceModel.FaultExceptionFormatter, Sistran.Core.Framework.ServiceModel">
                <!--<add exception="Sistran.Core.Framework.BAF.BusinessException, Sistran.Core.Framework.BAF" 
             mapper="Sistran.Core.Framework.ServiceModel.FaultExceptionMapper, Sistran.Core.Framework.ServiceModel"
             formatter="Sistran.Core.Framework.ServiceModel.FaultExceptionFormatter, Sistran.Core.Framework.ServiceModel" />

        <add exception="System.Exception, mscorlib"
             mapper="Sistran.Core.Framework.ServiceModel.FaultExceptionMapper, Sistran.Core.Framework.ServiceModel"
             formatter="Sistran.Core.Framework.ServiceModel.FaultExceptionFormatter, Sistran.Core.Framework.ServiceModel" />-->
            </handler>
        </exceptions>
        <cache type="NoCache" isThreadSafe="true" />
        <applicationServer logger="Application">
            <add service="Sistran.Core.Framework.SAF.ServiceManagerService, Sistran.Core.Framework.SAF, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997D748AEC7" />
        </applicationServer>
        <daf connectionString="$connectionTest" factoryType="$connectionTest" logger="SQLLog">
            <viewsDirectories>
                <add path="D:\3G\System\4.3.1.0\Company\Bin\" />
            </viewsDirectories>
            <autonumbers table="PARAMETER" schema="COMM" idColumn="PARAMETER_ID" valueColumn="NUMBER_PARAMETER" />
            <cachedTypes />
        </daf>
    </sistran.core.framework>
</configuration>
<!--ProjectGuid: 1D1ED990-C06F-443B-B3D6-FF252C4E5A26-->
