@*@{
        Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
    }*@
<div id="endorsement" class="uif-row">
    <div class="uif-col-9">
        <h2>Distribución de Contratos</h2>
        <p>
            En esta pantalla es posible cambiar los montos de Suma y Prima
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ModificationAllocation.png")'>
        </div>
        <br />
        <p>
            previamente debe estar seleccionada una Línea para que se pueda desplegar las distribuciones de contrato que
            tenga esa Línea.
        </p>
        <p>
            Para poder editar una distribución de contratos seleccione el registro deseado y presione el botón de Edición,
            se nos muestra la pantalla siguiente:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ModificationAllocationUpdate.png")'>
        </div>
        <br />
        <p>
            ingrese las cantidades deseadas tanto en el campo de Suma como de Prima y presionar el botón Grabar.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ModificationAllocationValidate.png")'>
        </div>
        <br />
        <p>
            existe una validación la cual indica que no debería el usuario poner cantidades que sumadas
            entre todas las distribuciones de contrato tanto en Suma como en Prima, sobrepase las cantidades
            que el sistema está indicando mediante la alerta en naranja.
        </p>
        <br />
    </div>
</div>