@*@{
        Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
    }*@
<div id="endorsement" class="uif-row">
    <div class="uif-col-9">
        <h2>Líneas</h2>
        <p>
            Para poder visualizar las líneas de una capa determinada, dar click en la pestaña Líneas
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ModificationLine.png")'>
        </div>
        <br />
        <p>
            muestra las líneas generadas del proceso de Ajuste (se puede volver a calcular si se desea mediante el botón Calcular Reaseguro)
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ModificationLineCalcProcess.png")'>
        </div>
        <br />
        <p>
            En esta sección es posible hacer solo modificaciones,
            seleccionando el registro deseado y presionando el botón de Edición se nos muestra la pantalla siguiente:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ModificationLineUpdate.png")'>
        </div>
        <br />
        <p>
            Como se puede observar solo es posible cambiar la Línea y luego guardar mediante el botón Grabar,
            la información actualizada se refrescará en la grilla de Líneas
        </p>
        <br />
    </div>
</div>