
@{
    ViewBag.Title = "Processes";
    Layout = "~/Views/Shared/_UIFLayout-r2-BigMenu.cshtml";
}

<h1>Procesos</h1>

@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Process/ReinsurancePolicy.cshtml");}
@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Process/ReinsurancePolicyMassive.cshtml");}
@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Process/ReinsuranceClaim.cshtml");}
@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Process/ModificationReinsuranceClaim.cshtml");}
@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Process/ReinsurancePayment.cshtml");}
@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Process/ModificationReinsurancePayment.cshtml");}
@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Process/SearchReinsurance.cshtml");}
@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Process/ReinsureReports.cshtml");}


@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Process/ModificationLayer.cshtml");}
@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Process/ModificationLine.cshtml");}
@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Process/ModificationAllocation.cshtml");}
@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Process/FacultativeContract.cshtml");}


