@*@{
        Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
    }*@
<div id="endorsement" class="uif-row">
    <div class="uif-col-9">
        <h2>Reasegurar Pólizas</h2>
        <p>
            La opción de Reasegurar Pólizas permite ejecutar el proceso de reaseguros por endoso de una
            póliza en particular. Para este fin primero se debe buscar un Endoso por medio de los filtros
            que provee esta pantalla como se muestra en la siguiente imagen.
        </p>
        <p>
            Los campos obligatorios para realizar la búsqueda son Sucursal, Ramo y Número de Póliza,
            el Número de Endoso es opcional y si se lo ingresa el sistema filtrará la información solo
            para dicho Endoso.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsurancePolicy.png")'>
        </div>
        <br />
        <p>
            Una vez ingresada la información, presionar el botón Buscar y los datos del o los endosos se visualizarán en la grilla “Endosos”.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/SearchPolicy.png")'>
        </div>
        <br />
        <p>
            Para iniciar el proceso del reaseguro, seleccionar un endoso y presionar el botón Reasegurar Endoso,
            se despliega un mensaje de confirmación de ejecución de proceso.
        </p>
        <p>
            Presionar el botón Si, para iniciar el proceso, caso contrario el botón No.
            Si el proceso no arroja ningún error la información del Reaseguro se despliega en la
            grilla de Reaseguros como se muestra a continuación:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/Endorsement.png")'>
        </div>
        <br />
        <p>
            Por el contrario si en el proceso ocurre algún error, la aplicación informa mediante
            un mensaje de error y adicional en la grilla de errores el detalle del mismo, como se muestra en la imagen siguiente:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsuranceError.png")'>
        </div>
        <br />
    </div>
</div>