@*@{
        Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
    }*@
<div id="endorsement" class="uif-row">
    <div class="uif-col-9">
        <h2>Consulta Reaseguro</h2>
        <p>
            Al hacer clic en la opción de Consulta Reaseguro se muestra la siguiente pantalla:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/SearchReinsurance.png")'>
        </div>
        <br />
        <p>
            La cual permite buscar los reaseguros realizados
        </p>
        <p>
            Para realizar la búsqueda de reaseguros se debe seleccionar la sucursal, el ramo,
            el número de póliza, y de manera opcional el número de endoso si es que se conoce,
            luego presionar el botón Buscar
        </p>
        <p>
            Las coincidencias encontradas para los valores introducidos en los campos de búsqueda serán
            cargadas en la grilla Endoso.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/SearchReinsuranceData.png")'>
        </div>
        <br />
        <p>
            Seleccionando un endoso se cargara de manera automatica la grilla Reaseguros,
            tal y como se mestra en la siguiente pantalla.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/SearchReinsuranceEndorsement.png")'>
        </div>
        <br />
        <p>
            Seleccionando un reaseguro se cargara de manera automatica la grilla Distribuciones,
            tal y como se mestra en la siguiente pantalla.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/SearchReinsuranceEndorsementLine.png")'>
        </div>
        <br />
    </div>
</div>