@{
    Layout = null;
}

<script id="tmpForGuaranteeStatus" type="text/template">
    <div>
        <label id="{{Id}}">
            {{Description}}
        </label>
    </div>
</script>

<script id="tmpForGuaranteeStatusAssign" type="text/template">
    <div>
        <label id="{{Id}}">
            {{Description}}
        </label>
    </div>
</script>

<script id="title-template" type="text/template">
    <div class="column">
        @Resources.Language.TitleGuaranteeStatusRoute
    </div>
</script>


<script id="footer-template" type="text/template">
    <footer>
        <div class="row">
            <div class="uif-col-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" id="btnCancel">
                        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                        @Resources.Language.ButtonExit
                    </button>
                    <button type="button" class="btn btn-primary" id="btnSave">
                        <i class="fa fa-save" aria-hidden="true"></i>
                        @Resources.Language.BtnSave
                    </button>
                </div>
            </div>
        </div>
    </footer>
</script>

<div class="uif-row">
    <div class="uif-col-3">
        <select data-filter="true" data-native="false" class="uif-select form-control" id="selectGuaranteeStatus"
                data-id="Id" data-name="Description"
                data-val="true"
                data-val-required="@Resources.Language.ErrorfieldCountries" required></select>
    </div>
</div>


<form id="formGuaranteeStatusRoute" class="form" autocomplete="off">
    <div class="uif-row">
        <div class="uif-col-12">
            <div class="uif-col-5">
                <div class="uif-listview" id="listViewGuaranteeStatus">
                </div>
            </div>
            <div class="uif-col-2">
                <div class="uif-row">
                    <div class="uif-col-12 centerAlign">
                        <button type="button" class="btn btn-default centerAlign middleWidth" id="btnGuaranteeStatusAssignAll">
                            <span class="" aria-hidden="true">>></span>
                        </button>
                    </div>
                </div>
                <div class="uif-row">
                    <div class="uif-col-12 centerAlign">
                        <button type="button" class="btn btn-default centerAlign middleWidth" id="btnGuaranteeStatusDeallocateAll">
                            <span class="" aria-hidden="true"><<</span>
                        </button>
                    </div>
                </div>
                <div class="uif-row">
                    <div class="uif-col-12 centerAlign">
                        <button type="button" class="btn btn-default centerAlign middleWidth" id="btnGuaranteeStatusAssign">
                            <span class="" aria-hidden="true">></span>
                        </button>
                    </div>
                </div>
                <div class="uif-row">
                    <div class="uif-col-12 centerAlign">
                        <button type="button" class="btn btn-default centerAlign middleWidth" id="btnGuaranteeStatusDeallocate">
                            <span class="" aria-hidden="true"><</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="uif-col-5">
                <div class="uif-listview" id="listviewGuaranteeStatusRoute">
                </div>
            </div>


        </div>
    </div>
</form>
