@{
    Layout = null;
}
<script id="advancedSearchTaxTemplate" type="text/template">
    <div>
        @Resources.Language.Code <strong>({{Id}})</strong>
        @Resources.Language.Description: <strong>{{Description}}</strong>
        @Resources.Language.Abbreviation: <strong>{{TinyDescription}}</strong>
    </div>
</script>

<div>
    <div class="row">
        <div class="uif-col-12">
            <div class="uif-listview" id="lvSearchAdvTax">
            </div>
        </div>
    </div>
</div>