@*@{
    Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
}*@
<div id="endorsement" class="uif-row">
    <div class="uif-col-9">
    <h2>Contratos</h2>
    <p>
        Al hacer clic en la opción de Contratos se muestra la siguiente pantalla:
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/contract.png")' alt="Ingreso" class="imagen">  
    </div>
    <br/>
    <p>La cual permite agregar, modificar y buscar contratos. Para realizar la búsqueda de contratos se debe 
        seleccionar el ejercicio, el tipo de contrato y luego presionar el botón Buscar, las coincidencias 
        encontradas serán cargadas en la grilla Contratos.
        <br/>
        <br/>
       Para agregar un nuevo contrato, se debe haber seleccionado el Ejercicio (Año), y el Tipo de Contrato,
       luego presionar el botón Agregar  , y se visualiza la siguiente pantalla:
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/contractNew.png")' alt="Ingreso" class="imagen">      
    </div>
     <br/>
    <p>
        Los campos que conforman la información de contrato son los siguientes:
    </p>
    <ol>
        <li>
            <p>
                Ejercicio,Campo de texto informativo que mostrará el año del contrato, se carga automáticamente y su valor no se puede cambiar.
            </p>
         </li>
        <li>
                 <p>
            Tipo de Contrato,Campo de selección  informativo que mostrara el tipo de contrato, se carga automáticamente y su valor no se puede cambiar.  
                 </p>
        </li>
        <li >
                 <p>
            Descripción Corta,Campo de texto alfanumérico para el ingreso de una descripción breve del contrato. Es un campo obligatorio.
                 </p>
        </li>     
        <li >
                 <p>
            Descripción,Campo de texto alfanumérico para el ingreso de toda la descripción extendida del contrato. Es un campo obligatorio.
                 </p>
        </li>     
    <li >     <p>
        Moneda,Campo de selección para el tipo de moneda que se maneja en el contrato. Es un campo obligatorio.
               </p>
    </li>     
    <li>     <p>
        Fecha Desde, Campo de tipo fecha que registra la fecha de inicio de vigencia del contrato. Es un campo obligatorio. 
          </p>
    </li>
        <li>     <p>
                     Fecha Hasta,Campo de tipo fecha que registra la fecha final de vigencia del contrato. Es un campo obligatorio.
                 </p>
        </li>
            <li>     <p>
        Meses de Reserva,Debe ser un número entero positivo entre 0 hasta el 99. Es un campo requerido.
             </p>
    </li>
    </ol>
     <br/>
    <p>
        Una vez ingresada toda la información requerida, presionar el botón Grabar, el registro del nuevo contrato se visualizará en la grilla 
        de contratos, tal y como muestra la siguiente imagen: 
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/GridContract.png")' alt="Ingreso" class="imagen">      
    </div>
   <br/>
    <p>
        Para modificar un contrato previamente hay que buscarlo como se explicó anteriormente, y debe estar
        cargado en la grilla, luego se debe presionar en el botón Edición del contrato deseado y a continuación 
        se muestra una pantalla como la siguiente:
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/UpdateContract.png")' alt="Ingreso" class="imagen">      
    </div>
    <br/>
    <p>
        Como se puede observar, la imagen anterior contiene la misma información que el registro de un
        contrato, solo resta modificar la información deseada y, presionar en el botón Grabar. 
        La modificacion del contrato se visualiza en la grilla de Contratos.
    </p>
   </div>
</div>