@{
    Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
}
<h1>Parametrización</h1>


@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Parameters/Contract.cshtml");}
@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Parameters/ContractLevel.cshtml");}
@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Parameters/CompanyLevel.cshtml");}
@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Parameters/Line.cshtml");}
@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Parameters/ContractLine.cshtml");}
@{ Html.RenderPartial("~/Areas/Reinsurance/Views/Help/Parameters/AssociationLine.cshtml");}



