@model Sistran.Core.Framework.UIF.Web.Areas.UniqueUser.Models.ProfileModelsView
@using Sistran.Core.Framework.UIF.Web.Helpers;

<form id="formCopy" class="form modal-Colombia">
    <div class="row">
        <div class="uif-col-6">
            <label class="field-required">@Resources.Language.NewProfileName</label>
            @Html.TextBoxFor(model => model.Description, new { id = "Description", placeholder = @Resources.Language.PlaceHolderKeyName })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
</form>
