@model Sistran.Core.Framework.UIF.Web.Areas.UniqueUser.Models.GuaranteeStatusModelsView

<form id="formGuaranteeStatusModelsView" class="form modal-Colombia">
    @*Html.AntiForgeryToken()*@
    <div class="row">
        <div class="uif-col-12">
            <h1>@Resources.Language.GuaranteeStatus </h1>          
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12" id="divGuaranteeStatus">
            <table data-paginate="false" data-selectiontype="multiple" data-add="false" class="uif-table" id="tableGuaranteeStatus"  @*data-source="/Guarantees/Guarantees/GetGuaranteeStatus"*@>
                <thead>
                    <tr>
                        <th data-property="Id" data-visible="false"></th>
                        <th data-property="Description"> Estado </th>
                        <th data-property="Enabled" data-visible="false">Activo</th>
                        <th data-property="IdGuaranteeStatus"  data-visible="false"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>
