@model Sistran.Core.Framework.UIF.Web.Areas.UniqueUser.Models.ProfileModelsView
@{
    Layout = null;
}
<script id="advancedSearchTemplatep" type="text/template">
    <div>        
    <br />
        @Resources.Language.Name: {{Description}} <strong>({{Id}})</strong>
    </div>
</script>

<div class="uif-alert" id="alertAdvanced"></div>
<form class="form">
    <div class="row">
        <div class="uif-col-12">
            <h4>@Resources.Language.AdvancedSearchProfile</h4>
        </div>
    </div>  

    <div class="row">
        <div class="uif-col-12">
            <div class="uif-listview" id="listViewSearchAdvancedp">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <div class="pull-right width-save">
                <button class="btn btn-default" id="btnCancel"  data-dismiss="modal" type="button">@Resources.Language.Close</button>
                <button class="btn btn-primary" id="btnLoad" type="button">@Resources.Language.Accept</button>
            </div>
        </div>
    </div>
</form>


