<div class="row">
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-title="" data-selectiontype="none" id="tableCommonResults" data-filter="false" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="Id">@Resources.Language.LabelId</th>
                        <th data-property="Code">@Resources.Language.LabelCode</th>
                        <th data-property="Description">@Resources.Language.LabelDescription</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>