
<div class="uif-row">
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-title="" data-selectiontype="none" id="tableResultsRulesScript" data-filter="true" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="RuleSetId">@Resources.Language.Code</th>
                        <th data-property="Description">@Resources.Language.LabelDescription</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
