@model ConsultaPoliza2018.Models.Entities.Poliza
@{
    ViewBag.Title = "Temporal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>

        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-12">                    
                    <pre style="height:300px">@Html.DisplayFor(model => model.json2)</pre>
                </div>
                <div class="col-md-offset-9 col-md-10">
                    @Html.ActionLink("Ir a Index", "Index")
                </div>
                <div></div>
            </div>
        </div>
    </div>
</div>
