@using Sistran.Core.Framework.UIF.Web.Resources

@model Sistran.Core.Application.ReportingServices.Models.Formats.FormatModule

<div class="uif-row">
    <div class="col-md-6">
        @Html.HiddenFor(model => model.Id)
        <label class="control-label" for="Description">
            @Global.Description
        </label>
        <input class="form-control" placeholder='@Global.ExampleConcept' data-val="true" data-val-required="@Global.RequiredField" id="Description" name="Description" type="text" value="" onblur="this.value=this.value.toUpperCase();" />
        <span class="text-danger" data-valmsg-for="Description" data-valmsg-replace="true">
        </span>
    </div>
</div>
