@{
    Layout = null;
}

<script id="template-notification" type="text/template">
    <div>
        <div class="process-name"><b>{{NotificationType.Title}}</b></div>
        <div class="uif-col-12" style="white-space: normal;text-align: justify;"> {{Message}}</div>
        <div class="uif-col-12">{{DateStr}}</div>
    </div>
</script>

<div class="uif-listview" id="lvNotification"></div>
<div class="uif-row">
    <div class="uif-col-12">
        <button class="btn btn-default btn-block" id="btnDeleteAllNotification">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <span class="" aria-hidden="true"></span>
            @Resources.Language.DisableAllNotifications
        </button>
    </div>
</div>