.main-title>div {
    background: #0B3077 !important;
}

.main-title>div.even {
    background: #3E73DD !important;
}
.btn-secondary {
    background-color: #F36A36;
    border: 1px solid #F36A36 !important;
    color: #ffffff;
    transition: 50ms;
    box-shadow: 0px 3px 5px 1px #ccc;
}

.btn-secondary:hover {
    opacity: 0.8;
    color: #ffffff;
}

hr.margin {
    margin-top: 5px;
    margin-bottom: 10px;
}
h5.subTitle {
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-content {
    padding-bottom: 0px !important;
}

.justified-between {
    justify-content: space-between;
}

.full-width{
    width: 100%;
    margin: 0 5px;
}