<link href="~/build/static/css/dynamic-form-1.1.2.3.css" rel="stylesheet" />
<div id="app" class="uif-col-12">
</div>
@*Footer Botones*@
@*<script id="footer-template" type="text/template">
    <div class="pull-right">
        <button type="button" onclick='window.location = rootPath + "Home/Index";' class="btn btn-default" id="ExitDynamicForms">
            <i class="fa fa-times"></i> @Resources.Language.ButtonExit
        </button>
    </div>
</script>*@
