<div class="row">
    <div class="uif-col-12">
        <table class="uif-table" id="tableSuretyRisk" data-selectiontype="single" data-add="false" data-edit="false" data-filter="true" 
                data-delete="false">
            <thead>
                <tr>
                    <th data-property="DocumentNum"><b>@Resources.Language.PolicyNumberAbbreviation</b></th>
                    <th data-property="Bonded"><b>@Resources.Language.Bonded/@Resources.Language.InsuredName</b></th>
                    <th data-property="BidNumber"><b>@Resources.Language.ContractNumber</b></th>
                    <th data-property="CourtNum"><b>@Resources.Language.JudgmentNumber</b></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
