Source/**/bin/
Source/**/obj/
*.InstallLog
Lib/Framework/ApplicationServer/ApplicationServerService.InstallState
**/.PowerShellScripts/*.txt
**/.vs/
*.suo
**/*.txt
*.user
.vs/
*.es5.min.js
Bin/Application/Core/**/*.dll
Bin/Services/Core/**/*.dll
Bin/Application/Core/**/*.dll.config
Bin/Services/Core/**/*.dll.config
Bin/Application/Core/**/*.pdb
Bin/Services/Core/**/*.pdb
Bin/CoreDeploy/**/*.*
Bin/**/*.view
Bin/**/*.dict
Bin/**/*.uiview
Source/**/obj/
Source/**/.sonarqube/
*.Cache
Source/**/debug/
*.refsignored
*.testsettings
CommonService3GProvider}
.PowerShellScripts/log_validacion.txt
DeployCoreDLLs.7z
**/packages/**
