<div class="row">
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-selectiontype="single" id="tblResultListDelegationTotal" data-paginate="true" data-filter="true">
                <thead>
                    <tr>
                        <th data-property="ModuleServiceQueryModel.Description">@Resources.Language.LabelModule</th>
                        <th data-property="SubModuleServicesQueryModel.Description">@Resources.Language.SubModules</th>
                        <th data-property="HierarchyServiceQueryModel.Description">@Resources.Language.Hierarchy</th>
                        <th data-property="Description">@Resources.Language.Description</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

