<table class="uif-table" id="TableAllyCoverages" 
		data-title=""
        data-add="false"
        data-edit="true"
        data-delete="false"
        data-filter="false"
        data-sort="false"
        data-selectiontype="none"
        data-paginate="false"
	   >
	<thead>
		<tr>
			<th data-property="coverageId" data-visible="false"></th>
			<th data-property="coveragePercentage">@Resources.Language.LabelTechnicalPlanPercentageSubLimit</th>
			<th data-property="coverageDescription">@Resources.Language.LabelTechnicalPlanDescription</th>
			<th data-property="coverageStatus" data-visible="false"></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
<form id="EditForm">	
	<div class="uif-inline" id="EditAction">
		@Html.Partial("TechnicalPlanEditAllyCoverage")
	</div>
</form>
