@*@model Sistran.Core.Framework.UIF.Web.Areas.Parametrization.Models.TechnicalBranchViewModel*@
<script id="tmpForInsuranceObject" type="text/template">
    <div>
        <label>
            {{Description}}
        </label>
    </div>
</script>
<script id="tmpForInsuranceObjectAsigned" type="text/template">
    <div>
        <label>
            {{Description}}
        </label>
    </div>
</script>
<form id="formInsuranceobjects" class="form">
    <div class="uif-row" id="mainInsuranceobjectTechnicalBranch">
        <div class="uif-col-12">
            <div class="uif-row">
                <div class="uif-col-5">
                    <div class="uif-listview" id="listviewInsuranceobjectsTechnicalBranch">
                    </div>
                </div>
                <div class="uif-col-2">
                    <div class="uif-row">
                        <div class="uif-col-12 centerAlign">
                            <button type="button" class="btn btn-default centerAlign middleWidth" id="btnModalInsuranceobjectsTechnicalBranchAssignAll">
                                <span class="" aria-hidden="true">>></span>
                            </button>
                        </div>
                    </div>
                    <div class="uif-row">
                        <div class="uif-col-12 centerAlign">
                            <button type="button" class="btn btn-default centerAlign middleWidth" id="btnModalInsuranceobjectsTechnicalBranchDeallocateAll">
                                <span class="" aria-hidden="true"><<</span>
                            </button>
                        </div>
                    </div>
                    <div class="uif-row">
                        <div class="uif-col-12 centerAlign">
                            <button type="button" class="btn btn-default centerAlign middleWidth" id="btnModalInsuranceobjectsTechnicalBranchAssign">
                                <span class="" aria-hidden="true">></span>
                            </button>
                        </div>
                    </div>
                    <div class="uif-row">
                        <div class="uif-col-12 centerAlign">
                            <button type="button" class="btn btn-default centerAlign middleWidth" id="btnModalInsuranceobjectsTechnicalBranchDeallocate">
                                <span class="" aria-hidden="true"><</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="uif-col-5">
                    <div class="uif-listview" id="listviewInsuranceobjectsTechnicalBranchAssing">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</form>
