@model Sistran.Core.Framework.UIF.Web.Areas.Parametrization.Models.TechnicalBranchViewModel
<form id="formProtection" class="form">
    <template id="ProtectionsTemplate">
        <div>
            <label>
                {{DescriptionLong}}
            </label>
        </div>
    </template>
    <div class="uif-row" id="mainProtectionTechnicalBranch">
        <div class="uif-col-12">
            <div class="uif-row">
                <div class="uif-col-5">
                    <div class="uif-listview" id="listviewProtectionTechnicalBranch">
                    </div>
                </div>
                <div class="uif-col-2">
                    <div class="uif-row">
                        <div class="uif-col-12 centerAlign">
                            <button type="button" class="btn btn-default centerAlign middleWidth" id="btnModalProtectionTechnicalBranchAssignAll">
                                <span class="" aria-hidden="true">>></span>
                            </button>
                        </div>
                    </div>
                    <div class="uif-row">
                        <div class="uif-col-12 centerAlign">
                            <button type="button" class="btn btn-default centerAlign middleWidth" id="btnModalProtectionTechnicalBranchDeallocateAll">
                                <span class="" aria-hidden="true"><<</span>
                            </button>
                        </div>
                    </div>
                    <div class="uif-row">
                        <div class="uif-col-12 centerAlign">
                            <button type="button" class="btn btn-default centerAlign middleWidth" id="btnModalProtectionTechnicalBranchAssign">
                                <span class="" aria-hidden="true">></span>
                            </button>
                        </div>
                    </div>
                    <div class="uif-row">
                        <div class="uif-col-12 centerAlign">
                            <button type="button" class="btn btn-default centerAlign middleWidth" id="btnModalProtectionTechnicalBranchDeallocate">
                                <span class="" aria-hidden="true"><</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="uif-col-5">
                    <div class="uif-listview" id="listviewProtectionTechnicalBranchAssing">
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    @section Scripts{
        <script src="@Url.Content("~/Areas/Parametrization/Scripts/TechnicalBranch/Protections.js")"></script>
    }
</form>
