@using Sistran.Core.Framework.UIF.Web.Resources

@{
    Layout = null;
}


    <div class="uif-row">
        <div class="uif-col-12">
            <table class="uif-table" id="TaxSelectionTable" data-exporttocsv="false"
                   data-add="false" data-edit="false" data-delete="false" data-selectiontype="multiple" data-filter="false"
                   data-paginate="true" data-title="">

                <thead>
                    <tr>
                        <th data-property="TaxCode" data-visible="false"><b>TaxCode</b></th>
                        <th data-property="TaxDescription" data-visible="true"><b>@Global.Taxes</b></th>
                        <th data-property="TaxCategoryCode" data-visible="false"><b>TaxCategoryCode</b></th>
                        <th data-property="TaxCategotyDescription" data-visible="true"><b>@Global.TaxByCategory</b></th>
                        <th data-property="TaxConditionCode" data-visible="false"><b>TaxConditionCode</b></th>
                        <th data-property="TaxConditionDescription"><b>@Global.TaxCondition</b></th>
                        <th data-property="Select" data-visible="false">Select</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-alert" id="alertTaxSelection"></div>
    </div>

   

