<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=eb247e58141b51b5"/>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sistran.Co.Previsora.Application.FullServicesProvider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <sistran.core.framework>
    <baf>
      <actions>
      </actions>
    </baf>
  </sistran.core.framework>
  <microsoft.web.services3>
    <security>
      <x509 storeLocation="CurrentUser"/>
    </security>
    <policy fileName="wse3policyCache.config"/>
  </microsoft.web.services3>
  <applicationSettings>
    <Sistran.Co.Previsora.Application.FullServicesProvider.Properties.Settings>
      <setting name="Sistran_Co_Previsora_Application_FullServicesProvider_com_asobancaria_cifinpruebas_InformacionComercialWSService" serializeAs="String">
        <value>http://cifinpruebas.asobancaria.com/InformacionComercialWS/services/InformacionComercial</value>
      </setting>
    </Sistran.Co.Previsora.Application.FullServicesProvider.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
