
@{
    ViewBag.Title = "Consultas";
    Layout = "~/Views/Shared/_QueryLayout.cshtml";
}

<div id="app"></div>

@section Scripts {
    <script>
        var QueryManager = new QueryManager({
            element: document.getElementById('app'),
            //endpoint: 'http://localhost:60842',
            endpoint: "@Url.Content("~/")",
            tokenEndpoint: "@Url.Content("~/")",
            SentryToken: 'https://b368aa0bf36d44559bddcbbd102099c2@sentry.io/1430687'
            //tokenEndpoint: 'http://localhost:60842'
        });
    </script>
}

