<form>
    <div class="uif-alert" id="alert"></div>
    <div class="row">
        <div class="uif-col-12">

            <ul class="uif-tab" id="tab1">
                <li class="active"><a href="#tabPersonalInformationAditional">@Resources.LanguagePerson.LastUpdate</a></li>
                
            </ul>

            <div class="uif-tab-content">
                <div id="tabPersonalInformationAditional" class="active">
                    <div class="row">
                        <div class="uif-col-6">
                            <label>@Resources.LanguagePerson.NameUser</label>
                            <input class='upperCase-co' type="text" id="UpdateBy" maxlength="20" disabled="disabled" />
                        </div>
                        <div class="uif-col-6">
                            <label>@Resources.LanguagePerson.ModificationDate</label>
                            <input class='upperCase-co' type="text" id="LastUpdate" maxlength="20" disabled="disabled" />
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</form>
