@{
    Layout = null;
}
<form class="form">
    <div class="row">
        <div class="uif-col-12">
            <div class="uif-listview" id="lvSearchAdvCompanyPhoneType">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <div class="pull-right width-save">
                <button class="btn btn-default" id="btnCancelSearchAdv" type="button">@Resources.LanguagePerson.Close</button>
                <button class="btn btn-primary" id="btnOkSearchAdv" type="button">@Resources.LanguagePerson.Accept</button>
            </div>
        </div>
    </div>
</form>
