<div class="row">
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-selectiontype="none" id="tableResultsAgentExecutive"  data-paginate="true" >
                <thead>
                    <tr>
                        <th data-property="IdCardNo">@Resources.LanguagePerson.LabelDocumentNumber</th>
                        <th data-property="Name">@Resources.LanguagePerson.LabelNameAgentExecutive</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

