<div class="row">
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-title=""  id="tableResultsPerson" data-filter="false" data-paginate="true" data-order="false">
                <thead>
                    <tr>
                        <th data-property="Id">@Resources.LanguagePerson.LabelId</th>
                        <th data-property="Code">@Resources.LanguagePerson.LabelDocumentNumber</th>
                        <th data-property="Description">@Resources.LanguagePerson.LabelDescription</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
