<div class="row">
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-title="" data-selectiontype="none" id="tableResultsInsMain" data-filter="false" data-paginate="true" data-order="false">
                <thead>
                    <tr>
                        <th data-property="IndividualId">@Resources.LanguagePerson.LabelId</th>
                        <th data-property="FullName">@Resources.LanguagePerson.LabelDescription</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
