<div class="row">
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-selectiontype="none" id="tblResultListCountryInfPn" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="Id">@Resources.LanguagePerson.LabelId</th>
                        <th data-property="Description">@Resources.LanguagePerson.LabelDescription</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>