<div class="uif-alert" id="alert"></div>
<form id="mainform">
    <div class="uif-panel" data-title="@Resources.LanguagePerson.LabelPaymentConcepts" id="ppanel">
        <table class="uif-table" data-title="" data-source="" data-selectiontype="multiple" id="tablePaymentConcepts" data-filter="false" data-paginate="true">
            <thead>
                <tr>
                    <th data-property="AccountNumber"></th>
                    <th data-property="Bank.Id"></th>
                    <th data-property="Method.Id"></th>
                    <th data-property="AccountType.Description"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uif-col-12">
            <div class="uif-row">
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" id="btnAccept">
                        <span aria-hidden="true"></span>
                        @Resources.LanguagePerson.Accept
                    </button>
                    <button type="button" class="btn btn-danger" id="btnCancel">
                        <span aria-hidden="true"></span>
                        @Resources.LanguagePerson.Cancel
                    </button>
                </div>
            </div>

            <br />
        </div>
    </div>
</form>
