<div class="uif-alert" id="alert"></div>
<div class="has-scroll" style="overflow:auto;height:350px;overflow-x: hidden;">
    <table class="uif-table" data-title="" data-source="" data-selectiontype="multiple" id="tablePrefix" data-filter="true" data-paginate="false">
        <thead>
            <tr>
                <th data-property="Id" data-visible="false"></th>
                <th data-property="Description"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
