<form class="form">
    <div class="uif-panel">
        <div class="uif-row">
            <div class="uif-col-12">
                <label for="">
                    Preguntas
                </label>
                <select 
                class="uif-select form-control" id="selectQuestion"
                data-selectedid="0"
                data-source="" 
                data-filter="true"
                data-id="QuestionId" 
                data-name="Description">
                </select>
            </div>            
        </div>
    </div>
</form>
