<form class="form">
    <div class="uif-panel">
        <div class="uif-row">
            <div class="uif-col-12">
                <label for="">
                    Respuestas
                </label>
                <select class="uif-select form-control"
                        data-native="false"id="selectAnswer"></select>               
                @*<select class="uif-multiselect form-control" id="selectAnswer" multiple="multiple"></select>     *@
            </div>               
        </div>
    </div>
</form>
