<form class="form">
    <div class="uif-panel">
        <div class="uif-row">
            <div class="uif-col-12">
                <div class="uif-row">
                    <div class="uif-col-12">
                        <div class="form-footer pull-right">
                            @*<button type="button" class="btn btn-info btn-sm" id="btnDesplegarScript">
                                <span class="glyphicon glyphicon glyphicon-plus"></span>&nbsp Desplegar
                            </button>*@
                        </div>
                    </div>
                </div>
                
                <div class="uif-row">
                    <div class="uif-col-12">
                        <h4><label for="" id="labelNameScriptExecute"></label></h4>
                    </div>
                </div>
                <div class="uif-row">
                    <div class="uif-col-12">
                        <div class="" id="QuestionPanelViewScript"></div>
                    </div>
                </div>
            </div>
            <!-- /preguntas guion -->
        </div>
    </div>
</form>
