<form id="formVehicleBody" class="form modal-Colombia">
    <div class="uif-row">
        <div class="uif-col-5">
            <label>@Resources.Language.VehicleType</label>
            <input type="text"  id="inputVehicleBodeTypeCode" disabled />
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-12">
            <table data-paginate="false" data-selectiontype="multiple" data-filter="true" class="uif-table" id="tableVehicleBody" data-title="@Resources.Language.ListOfBodies" data-filter="false" data-add="false" data-source="@Url.Content("~/Parametrization/VehicleType/GetBodies")">
                <thead>
                    <tr>
                        <th data-property="Id" data-visible="false">Id</th>
                        <th data-property="Description">@Resources.Language.LabelBodyType</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>
