<form class="form">
    <div class="row">
        <div class="uif-col-12">
            <h4>@Resources.Language.AdvancedSearch</h4>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-6">
            <label>Grupo de politicas</label>
            <select class="uif-select important" id="ddlAdvGroupPolicies" data-val="true" data-id="IdGroupPolicies" data-name="Description" data-native="false"></select>
        </div>
        <div class="uif-col-6">
            <label>Politica</label>
            <select class="uif-select important" id="ddlAdvPolicies" data-val="true" data-id="IdPolicies" data-name="Description" data-native="false"></select>
        </div>

    </div>

    <div class="row">
        <div class="uif-col-6">
            <label>Fecha Inicio</label>
            <input type="text" class="uif-datepicker" id="txtDateInit" />
        </div>
        <div class="uif-col-6">
            <label>Fecha fin</label>
            <input type="text" class="uif-datepicker" id="txtDateEnd" />
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <div class="pull-right width-save">
                <button class="btn btn-default" id="btnCancelSearchAdv" type="button">@Resources.Language.Close</button>
                <button class="btn btn-primary" id="btnSearchAdv" type="button">@Resources.Language.Accept</button>
            </div>
        </div>
    </div>
</form>


