@{
    Layout = null;
}

<div id="divAuthorizationAuthorized">
    <div class="uif-row">
        <div class="uif-col-6">
            <label><b>Politica:</b></label>
            <p class="txtNamePolicies"></p>
        </div>
        <div class="uif-col-6">
            <label><b>Usuario</b></label>
            <p class="txtNameUser"></p>
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-6">
            <label><b>Fecha Solicitud:</b></label>
            <p class="txtDatePolicie"></p>
        </div>
        <div class="uif-col-6">
            <label><b>Referencia:</b></label>
            <p class="txtReference"></p>
        </div>
    </div>
    
    <div class="uif-row">
        <div class="uif-col-6">
            <label><b>Fecha autorización:</b></label>
            <p class="txtDateAnswer"></p>
        </div>
        <div class="uif-col-6">
            
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-12">
            <label><b>Descripcion :</b></label>
            <div style="max-height: 250px; overflow-y: scroll;">
                <p class="txtDescription"></p>
            </div>
        </div>
    </div>
    
    <div class="uif-row">
        <div class="uif-col-12">
            <label><b>Motivo de la solicitud:</b></label>
            <p class="txtReasonRequest"></p>
        </div>
    </div>
    
    <div class="uif-row">
        <div class="uif-col-12">
            <label><b>Motivo de la autorizacion:</b></label>
            <p class="txtReasonAnswer"></p>
        </div>
    </div>
</div>