@{
    Layout = null;
}

<div id="divAuthorizationReasign">
    <div class="uif-row">
        <div class="uif-col-6">
            <label><b>Politica:</b></label>
            <p class="txtNamePolicies"></p>
        </div>
        <div class="uif-col-6">
            <label><b>Usuario</b></label>
            <p class="txtNameUser"></p>
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-6">
            <label><b>Fecha Solicitud:</b></label>
            <p class="txtDatePolicie"></p>
        </div>
        <div class="uif-col-6">
            <label><b>Referencia:</b></label>
            <p class="txtReference"></p>
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-12">
            <label><b>Descripcion :</b></label>
            <div style="max-height: 250px; overflow-y: scroll;">
                <p class="txtDescription"></p>
            </div>
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-12">
            <label><b>Motivo de la solicitud:</b></label>
            <p class="txtReasonRequest"></p>
        </div>
    </div>
</div>

<div class="uif-modal" id="modalHistory">
    <div class="uif-modalbody">
        <table class="uif-table" id="tableHistory"
               data-title=""
               data-add="false"
               data-edit="false"
               data-delete="false"
               data-filter="false"
               data-sort="false"
               data-selectiontype="none"
               data-paginate="false">
            <thead>
                <tr>
                    <th data-property="user">Usuario</th>
                    <th data-property="hierarchy">Jerarquia</th>
                    <th data-property="state">Estado</th>
                    <th data-property="action">Accion</th>
                    <th data-property="description">Descripcion</th>
                    <th data-property="date">fecha</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="uif-modalbuttons">
        <div class="pull-left">
            <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Language.ButtonPreview</button>
        </div>
    </div>
</div>
