@using Sistran.Core.Framework.UIF.Web.Resources
@model Sistran.Core.Application.AccountingServices.DTOs.CollectConceptDTO

<div class="uif-row">
    <div class="col-md-6">
        <span class="required-color">*</span>
        @Html.HiddenFor(model => model.Id)
        <label class="control-label" for="Description">
            @Global.Description
        </label>
        <input class="form-control" placeholder=@Global.ExampleCompanyAccount data-val="true" data-val-required="@Global.RequiredField" id="Description" name="Description" type="text" value="" />
        <span class="text-danger" data-valmsg-for="Description" data-valmsg-replace="true">
        </span>
    </div>
</div>
