@using Sistran.Core.Framework.UIF.Web.Resources

<div class="uif-row">
    <div class="uif-col-12">
        <label>@Global.TransferSavedSuccessfully</label>
        <br />
        <input type="text" id="transferId" name="transferId" disabled="disabled" />
    </div>
</div>

<div class="uif-row">
    <div class="uif-col-12">
        <label id="accountingLabelDiv">@Global.AccountingIntegration</label>
        <br />
        <input type="text" id="accountingMessage" name="accountingMessage" />
    </div>
</div>


<div class="uif-row">
    <div class="uif-col-12">
        <a id="dynamicLink">@Global.DownloadFileLink</a>
    </div>
</div>
