<form id="formAuditDetail">
    <div id="fieldsAuditDetail">
        <table data-paginate="true" data-selectiontype="none" class="uif-table" id="tableAuditDetail" data-title="" data-filter="false">
            <thead>
                <tr>
                    <th data-property="Id">@Resources.Language.Property</th>
                    <th data-property="ValueBefore">@Resources.Language.ValueBefore</th>
                    <th data-property="ValueAfter">@Resources.Language.ValueAfter</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="AuditDetail">
        <div id="ValueBefore"></div>
        <div id="ValueAfter"></div>
    </div>
</form>