<form class="form" id="formListEntityValue">
    <input type="hidden" name="Index" value="" id="IndexListEntityValue" />
    <input type="hidden" name="StatusTypeService" value="" id="StatusListEntityValue" />
    <input type="hidden" name="ListValueCode" value="" id="ListValueCode" />

    <div class="row">
        <div class="uif-col-12">
            <label class="field-required">@Resources.Language.LabelListEntityValue</label>
            <input data-val="true" data-val-length="Longitud máxima de 50." data-val-length-max="50" data-val-required="Campo requerido" 
                   id="inputListValue" maxlength="50" name="ListValue" placeholder="Descripción" type="text" value="">
            @Html.ValidationMessage("ListValue", "")
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <div class="pull-right width-save">
                <input type="button" class="btn btn-default" id="btnCancelListEntityValue" value="@Resources.Language.ButtonCancel" />
                <input type="button" class="btn btn-primary" id="btnAddListEntityValue" value="@Resources.Language.ButtonAdd" />
            </div>
        </div>
    </div>
</form>