@{
    Layout = null;
}
<script id="advancedSearchTemplate" type="text/template">  
    <div>
        @Resources.Language.Description: <strong>{{Description}}</strong>
    </div>
</script>
<form class="form">
    <div class="row">
        <div class="uif-col-12">
            <div class="uif-listview" id="lvListEntityAdv">
            </div>
        </div>
    </div>   
</form>
