<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="sistran.core.framework">
      <section name="assemblyResolver" type="Sistran.Core.Framework.Configuration.AssemblyResolverSection, Sistran.Core.Framework" />
      <section name="logging" type="Sistran.Core.Framework.Configuration.LoggingSection, Sistran.Core.Framework" />
      <section name="cache" type="Sistran.Core.Framework.Cache.Configuration.CacheSection, Sistran.Core.Framework.Cache" />
      <section name="daf" type="Sistran.Core.Framework.DAF.Engine.Configuration.DafSection, Sistran.Core.Framework.DAF.Engine" />
      <section name="queues" type="Sistran.Core.Framework.Queues.Configuration.QueuesSection, Sistran.Core.Framework.Queues" />
      <section name="audit" type="Sistran.Core.Framework.Audit.Configuration.AuditSection, Sistran.Core.Framework, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="TimeOut" value="5000" />
    <add key="LimitRetry" value="3" />
    <add key="SimulateResponse" value="true" />
    <add key="CheckQuotationQueues" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ServiceName" value="SistranConsumerQueueListRisk4310" />
    <add key="DisplayName" value="Sistran Consumer Queue ListRisk (Branch 4.3.1.0)" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicEndpoint" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:1001/External/QueueBrokerService" binding="basicHttpBinding" bindingConfiguration="basicEndpoint" contract="QueueBrokerService.IQueueBrokerService" name="BasicHttpBinding_IQueueBrokerService" />
    </client>
  </system.serviceModel>
  <sistran.core.framework>
    <queues hostName="localhost" virtualHost="/" userName="SistranQuee" password="SistranQuee" port="5672" serialization="None" />
    <logging>
      <logger type="Sistran.Core.Framework.Logging.EventLogLogger, Sistran.Core.Framework, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" name="Application" />
      <logger type="Sistran.Core.Framework.Logging.EventLogLogger, Sistran.Core.Framework, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" name="SQLLog" />
    </logging>
    <assemblyResolver>
      <add path="D:\3g\System\4.3.1.0\Company\Bin\" />
    </assemblyResolver>
  </sistran.core.framework>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1000" />
    </connectionManagement>
  </system.net>
  <runtime>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>