.HeightPanelStatic {
    height:610px;
    border:2px solid #ccc;   
   
}
.fixQuantity1 {    
    height:60px;        
    background-color:#808080;
}
.fixQuantity2 {    
    height:60px;    
    background-color:#CCC;
}
.ListViewContent {
    height:400px;
}
.QuantityLabel {
    color:white;
    line-height:60px;
    vertical-align:middle;
}
.rowButtonAdd {
    height:80px;
}
.Listtitle {
    height: 60px;
    line-height:60px;
    background-color: #ccc;
    margin-top:-15px;
    padding-top:-15px;
    text-align:center;
    vertical-align:middle;
}
.MainBarFields {
    height: 90px;
    background-color: #e6e3e3;
    padding-top:5px;
}
.MainBarTop { /*Barra de tiulo*/
    height: 60px;
    line-height:60px;
    vertical-align:middle;
    background-color: #e6e3e3; 
}


