<form id="formVehicleUse" class="form modal-Colombia">
	<div class="uif-row">
		<div class="uif-col-5">
			<label>@Resources.Language.LabelVehicleBody</label>
			<input type="text" id="inputVehicleBodyCode" disabled />
		</div>
	</div>
	<div class="uif-row">
		<div class="uif-col-12">
			<table data-paginate="false" data-selectiontype="multiple" class="uif-table" id="tableVehicleUse" data-title="@Resources.Language.LabelListOfUses" data-filter="false" data-add="false" data-source="@Url.Content("~/Parametrization/VehicleBody/GetUses")">
				<thead>
					<tr>
						<th data-property="Id" data-visible="false">Id</th>
						<th data-property="Description">@Resources.Language.LabelUse</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
</form>
