
<title>DetailAdjustment</title>
<div class="uif-row">
    <div class="uif-col-12 fit-col-main">
        <table class="uif-table" id="tableDetailAdjustment" data-title="" data-filter="false">
            <thead>
                <tr>
                    @*<th data-property="id" class="hidden">@Resources.Language.Property</th>*@
                    <th data-property="Description">@Resources.Language.Description</th>
                    <th data-property="DeclaredAmount">@Resources.Language.DeclaredAmount</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

