img.main-logo {
    width: 300px;
    padding: 33px 0 10px !important
}
img.footer-logo {
    width: 85px;
    padding: 10px 0 !important;
    float: right
}
.noAlert {
    color: black !important;
    background-color: transparent !important;
    border-color: transparent !important;
    margin-bottom: 0px !important;
}

button {
    display: none !important
}

.uif-login .imagen-background {
    width:100%!important;
}