
.rightAlign 
{
text-align:right;
}
/* Ajustes AMB Productos - Pendiente Revision */
.centerAlign 
{
text-align:center;
}
.middleWidth
{
    width: 50%;
}
.redAlertLabel
{
    color: red;
}
/* Ajustes AMB Productos - Pendiente Revision */

textarea {
    resize: none;
}


.without-space { /*Se agrega en vistas parciales o totales, para quitar margenes y todo quede mas agrupado*/
    margin-top:-21px;
    margin-left: -10px;
}

.fit-col-main { /*ajuste para seccion de riesgos, espacios entre columnas para mayor agrupacion, columna principal*/
    margin-top:15px!important;
}

.fit-col-secondary { /*ajuste para seccion de riesgos, espacios entre columnas para mayor agrupacion*/
    padding:0!important;
}

.field-summary-alignment{ /*Se agrega en summary sin perifericas, para que el summary quede alineado a los campos*/
    margin:0!important;
}

.without-space .uif-summary, .without-peripheral .uif-summary {
    padding-bottom:0px;    
    margin-right: -15px;
    margin-left: -15px;
}

.without-space .uif-summary .items, .without-peripheral .uif-summary .items{
    padding: 0 0 0 15px;
    margin:0;
    border-left: 1px solid #d3d4d8;
}

footer .btn{
    min-width:140px;
    margin-left:-1px;
    font-size:12px;
    padding: 5px 7px;
}

.box-title{ /*Recuadro de row con fondo gris, similar al recuadro de *Guiones*/
    background: #e7e9ed;
    height: 51px;
    display: flex;
    align-items: center;
    color: #227af6;
    padding-left: 14px;
    border-bottom: 1px solid #dbdde0;
    padding-top: 13px;
    margin-bottom: 10px;
}

.btn-calculate {
    height: 56px!important;
    width:114px;
    margin-right: -15px;
}

.btn-calculate i{
    padding-bottom: 7px;
}

.without-space .lineDividing {
    border-top: 1px solid #e5e5e5; 
    margin-top:-9px;
    background-color: #e7e9ed;
    padding-bottom: 0px!important;
}

.width-clauses button{
    width:88px;
}

.center-col-right { /*Alinea botones internos:"Nuevo" y "Agregar", al centro de de su row*/
    background-color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 14px;
}

.center-col-right-Proteccion { /*Alinea botones internos:"Nuevo" y "Agregar", al centro de de su row*/
    background-color: whitesmoke;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 14px;
    padding-bottom: 11px;
}

.modal-Colombia .uif-listview{
    margin-right: -15px;
}

.modal-Colombia .pull-right {
    margin-top: 9px;
    margin-right: -20px;
    margin-bottom: 9px;
}
.modal-Colombia .uif-summary {
    padding-bottom:0;
    margin-left: 18px;
}
.modal-Colombia .uif-summary .items {
    height:47px;
    margin-top:-1px;
}
.modal-Colombia .pull-right button{
    width:77px;
}

.modal-Colombia .lineDividing {
    border-top: 1px solid #e5e5e5; 
    margin:-9px -15px -24px;
}


.width-save button{
    width:77px;
}

.width-saveRule button{
    width:118px;
}

.without-peripheral .lineDividing {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-left:1px solid #e5e5e5;
    padding-bottom: 0px!important;
    margin: 5px 0px 15px 5px;
    background: #e7e9ed;
}

.box-border {
    border: 1px solid #e0e2e3; 
    margin:-10px 0px 20px 5px;
    min-height:85px;
}



.box-border-simple{
    border: 1px solid #ddd; 
    height:453px;
    overflow-y: scroll;    
}


.without-space-tabs
{
    margin-top: -10px!important;
}

.whitout-tap-margin-top{
    margin-top:-1px;
}






.without-border-left{
    border-left:none;
}
.without-border-right{
    border-right:none!important;
}



.main-title #inputNewTemporal{
    height: 36px;
}

.width-container{ /*El button toma el ancho total de su padre*/
    width:100%;
}


/*navegacion de personas*/
.nav-dynamic-wrapper a div, .nav-dynamic-wrapper button div,
nav a div {
    width: 100%;
}

.nav-dynamic-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 1px -15px;
    margin-top:0px;   
    border-left: 1px solid #e1e2e4;
    /*border-right: 1px solid black;*/
}

.nav-dynamic-wrapper a, .nav-dynamic-wrapper button  {
    display: block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    background-color: #f6f6f9;
    border-right: 1px solid #e1e2e4;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    padding: 14px 0;
    border: 1px solid #e1e2e4;
    border-left: none;
}

.nav-dynamic-wrapper a i, .nav-dynamic-wrapper button i{
    padding-right:5px;
}
.nav-dynamic-wrapper .primary{
    color:#227af6!important;
    font-weight: 600!important;
}

[type=checkbox]:checked+label, [type=checkbox]:not(:checked)+label{
    color:black;
}

/*.nav-dynamic-wrapper1> [type=checkbox]:disabled:checked+label:before, [type=checkbox]:disabled:not(:checked)+label:before{
    background-color:white!important;
}*/



/*buttons-dynamic se agrega para el menu de eventos que va a crecer proporcionalmente en ancho, de acuerdo a la cantidad de items que existan*/
.buttons-dynamic-wrapper a div, .buttons-dynamic-wrapper button div,
nav a div {
    width: 100%;
}

.buttons-dynamic-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 1px -15px;
    border-left: 1px solid black;
    /*border-right: 1px solid black;*/
}

.buttons-dynamic-wrapper a, .buttons-dynamic-wrapper button  {
    display: block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    background-color: #5d646e;
    border-right: 1px solid #565f70;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    padding: 16px 0;
    border: 1px solid black;
    border-left: none;
}

.buttons-dynamic-wrapper a i, .buttons-dynamic-wrapper button i{
    padding-right:5px;
}

/*buttons-dynamic eventos*/
.icon-top{
    border-left: none!important;
    margin:0;
}

.icon-top button{
    height:70px!important;
}
.icon-top i{
    display: block;
    padding-bottom: 5px;
    font-size: 22px;
}


/*Se debe agregar al div padre de los btn para que todos los botones dentro del div tengan el mismo ancho
    save: ancho max de Guardar, clauses: ancho max de Clausulas, select: ancho max de Seleccionar*/


.width-select button{
    width:100px;
}




/*Colores framework*/
.light-Co{
    color:white;
}

.peripherally-Co{
    color:#e64924;
}

.font-highlight {
    color:red;
}

.secondary-Colombia { /*btn Detalle (azul de iconos)*/
    color: #227af6!important;
}

.warning {
    color:#fc400d!important;
}

/*-colores de fondo-*/
.btn-primary-Co {
    color: #fff;
    border-color: #0a69eb;
    background: #227af6;
}

.btn-primary-Co:hover {
    background: #0a69eb;
    color: #fff;
}

.disabled-Co{ /*Señala en el menu personas los campos que estan deshabilitados*/
    background-color:#878b94!important;
    color:#454d58!important;
}
.disabled-Co i {
    color:#454d58!important;
}

.btn-secondary-Co{
    background-color:#007af5!important;
    color:white!important;
    border:1px solid white!important;
}

.btn-secondary-Co i{
    color:white!important;
}

.page .main-container, .main-content, .form {
    padding-bottom:0;
}

.btn-circular-Co{
    color: #8e969c;
    border: none;
    min-width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    background: #1b6fc1;
    cursor: pointer;
    margin-left: 20px;
}

.btn-circular-Co i{
    color:#fff!important;
}

.box-listview-Co{
    display: flex;
}


.item-listview-Co{
    padding: 7px 10px;
    border-bottom: 1px solid #fff;
    border-left: 2px solid #f2f4f8;
    min-height: 62px;
    border-bottom:1px solid #ddd;
    margin-bottom: 8px;
}

.panel-table .row-selected-warning
{
    background-color: #FF5722!important;
    font-weight: bolder!important;
    color: white!important;
}

/*.main-content {
    padding-bottom: 0!important;
}*/


/* Se agrega clase a formulario, para ajustar la separacion principal del contorno del form*/
.form-space-adjusted{
    margin-top: -21px;
    margin-left: -10px;
}

/*Se agrega clase a row, para ajustar cuando no se requiere el row tan alineado al contorno*/
.row-space-adjusted{
    margin-top: 10px;
}

/* Se agrega clase a col, para ajustar el paddign lateral*/
.col-space-adjusted{
    padding-left: 0px!important;
    padding-right: 5px!important;
}

/*Se agrega linea de division que contiene los botones principales de la listview*/
.form-space-adjusted .lineDividing {
    border-top: 1px solid #e5e5e5; 
    margin-top:-9px;
    background-color: #e7e9ed;
    padding-bottom: 0px!important;
}

.form-space-adjusted .lineDividing .uif-summary{
    padding-bottom: 0;
}

.table-scroll{
    overflow:auto;
    height:250px;
    overflow-x: hidden;
}

.delete-space-row{
    margin-top: -77px;
}
.width-save-button button {
    width: 90px;
}
.field-validation-valid {
    display: none;
}


.full-screen-sup {
    height: auto !important;
    overflow: hidden !important;
    overflow-y: hidden: !important;
    overflow-x: hidden: !important;
    width: 100% !important;
}

/*Elimina la cruz que borra el contenido de los controles tipo "text" en Microsoft Edge 12+ e Internet Explorer 10 y 11 */
input[type=text]::-ms-clear {    
    display: none;
}

.error-accounting {
    padding: 2em;
    border: 2px dotted red;
    background-color: rgb(255, 200, 200);
}