<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  	<sectionGroup name="sistran.core.framework">
  		<section name="assemblyResolver" type="Sistran.Core.Framework.Configuration.AssemblyResolverSection, Sistran.Core.Framework" />
  		<section name="logging" type="Sistran.Core.Framework.Configuration.LoggingSection, Sistran.Core.Framework" />
  		<section name="cache" type="Sistran.Core.Framework.Cache.Configuration.CacheSection, Sistran.Core.Framework.Cache" />
  		<section name="daf" type="Sistran.Core.Framework.DAF.Engine.Configuration.DafSection, Sistran.Core.Framework.DAF.Engine" />
  		<section name="queues" type="Sistran.Core.Framework.Queues.Configuration.QueuesSection, Sistran.Core.Framework.Queues" />
  		<section name="audit" type="Sistran.Core.Framework.Audit.Configuration.AuditSection, Sistran.Core.Framework, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" />
  	</sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SistranEE" connectionString="server=COBOPNSESQL1;database=SISE_3GR2_DESA;user id=NASEDESA;password=Sistran+-*;Max Pool Size=200;Language=us_english;APP=LIB" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceName" value="SASServiceNseDev4310ListRiskOnu" />
    <add key="DisplayName" value="SAS Service (Nse Dev 4310 List Risk Onu)" />
    <add key="processFrequency" value="1" />
    <add key="OnuUrl" value="https://scsanctions.un.org/resources/xml/en/consolidated.xml" />
    <add key="ExternalFolderFiles" value="D:\TemporalesSISE3G\reingenieria\archvosOnu" />
    <add key="UserDomain" value="sistran\sise3gr2" />
    <add key="DomainPassword" value="Sistran17*" />
    <add key="Domain" value="" />
    <add key="ProcessNodes" value="1" />
    <add key="ProcessRetries" value="3" />
    <add key="EWS" value="True" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPServerPort" value="25" />
    <add key="EmailFrom" value="sise3gr2@sistran.com.co" />
    <add key="EMailPass" value="Sistran2020+" />
    <add key="EMailTo" value="wcortes@sistran.com.co" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <sistran.core.framework>
   <queues hostName="172.17.5.163" virtualHost="/" userName="SistranQueue" password="SistranQueue" port="5672" serialization="None" />
   <logging>
    <logger type="Sistran.Core.Framework.Logging.EventLogLogger, Sistran.Core.Framework, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" name="Application" />
    <logger type="Sistran.Core.Framework.Logging.EventLogLogger, Sistran.Core.Framework, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31270997d748aec7" name="SQLLog" />
   </logging>
  </sistran.core.framework>	
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>