@using Sistran.Core.Framework.UIF.Web.Resources
 
<div style="padding: 0 0 0 0">
    <div>
        <table>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="5">
                    <table id="tblMovementSummary" style="margin: 0 auto; width:1600px"></table>
                </td>
            </tr>
            <tr>
                <td>
                    @Global.Total
                </td>
                <td></td>
                <td><input type="text" id="_ControlTotal" name="_ControlTotal" disabled="disabled" style="text-align:right" /></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>