@using Sistran.Core.Framework.UIF.Web.Resources

<div id="receiptApplicationSuccessDialog" title="@Global.ReceiptsApplication" >
    <table>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" id="receiptApplicationMessage" disabled="disabled" style="border: none;"/>   <br />
            </td>
        </tr>
        @*Modificado: Alejandro Villagrán, se aumentan div para mostrarlos en BE*@
        <tr>
            <td>
                <div id="accountingApplicationLabelDiv">
                    @Global.AccountingIntegration
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="accountingApplicationMessageDiv">
                    <input type="text" id="receiptApplicationAccountingIntegrationMessage" disabled="disabled"
                        style="border: none;" />
                </div>
            </td>
        </tr>
    </table>
</div>
<br/>