<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="SistranEE" connectionString="server=COBOPNSESQL1;database=SISE_3GR2_DESA;user id=NASEDESA;password=Sistran+-*;Max Pool Size=200;Language=us_english;APP=LIB" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
      <add key="processFrequency" value="20" />
      <add key="UserDomain" value="sistran\sise3gr2" />
      <add key="DomainPassword" value="Sistran17*" />
      <add key="Domain" value="" />
      <add key="ProcessNodes" value="10" />
      <add key="ProcessRetries" value="3" />
    </appSettings>
</configuration>