<form id="formIndividualDetailArticle" class="form">
    <table class="uif-table" data-title="" data-selectiontype="single" id="tableIndividualDetailArticle" data-filter="false" data-paginate="true">
        <thead>
            <tr>                
                <th data-property="IdArticle">@Resources.Language.LabelIdArticle</th>
                <th data-property="ArticleName">@Resources.Language.LabelArticle</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br/>
    <div class="uif-row">
        <div class="uif-col-12">
            <div class="pull-right">
                <button type="button" class="btn btn-primary" id="btnIndividualDetailArticleAccept">
                    <span aria-hidden="true"></span>
                    @Resources.Language.ButtonAccept
                </button>
            </div>
        </div>
    </div>
</form>