@using Sistran.Core.Framework.UIF.Web.Resources

@{
    ViewBag.Title = "BillingClosureModal";
}

<form id="addClosureForm" class="form">
    <div class="main-content">
        <div class="uif-row">
            <div class="uif-col-6">
                @ViewBag.UserNick @Global.MessageClosureBilling
            </div>
        </div>
    </div>
</form>


