@using Sistran.Core.Framework.UIF.Web.Resources

@{
    ViewBag.Title = "OpeningBillingModal";
}

<form id="addOpeningForm" class="form">
    <div class="main-content">
        <div class="uif-row">
            <div class="uif-col-12">
                <label>@Global.Branch:</label>
                <input type="text" id="Branch" disabled="disabled" style="border: none" />
            </div>
        </div>

        <div class="uif-row">
            <div class="uif-col-12">
                <label>@Global.AccountingDate:</label>
                <input type="text" id="AccountingDate" disabled="disabled" style="border: none" />
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-12">
                @Html.Label(Global.User):
                <input type="text" id="UserId" disabled="disabled" style="border: none" />
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-12">
                @Html.Label(Global.MessageOpeningBillingAccept)
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-12">
                <div class="uif-alert" id="alertModalOpeningBilling"></div>
            </div>
        </div>
        </div>
</form>

