<div class="row">
    <div class="uif-col-8">
        <div class="without-label">
            <textarea id="textArea" readonly cols = "12", rows = "30" style="height: 100%; width:156%" data-val="true" disabled></textarea>
        </div>
    </div>
</div>