<div id="_frmClaimNoticeObjected" class="form">
    <div class="row">
        <div class="uif-col-12">
            <label>@Resources.Language.Description</label>
            <textarea id="ClaimNoticeObject_Description" name="ClaimNoticeObject_Description" type="text" rows="4" cols="46" maxlenght="250"></textarea>
        </div>
    </div>
</div>