@{
    Layout = null;
}

<div class="uif-modal" id="modalConceptHeader">
    <div class="uif-modalbody">
        <form class="form" id="formConceptHeader">
            <input type="hidden" id="hdnType" />
            <input type="hidden" id="hdnIdIndex" />
            <div class="uif-row">
                <div class="uif-col-12">
                    <label class="field-required">Concepto</label>
                    <select class="uif-select form-control"
                            id="ddlConcepts"
                            data-filter="true"
                            data-native="false"
                            data-id="ConceptIdFacadeId"
                            data-name="DescriptionFacade"
                            name="ddlConcepts"
                            required></select>
                    <span class="field-validation-valid" data-valmsg-for="ddlConcepts" data-valmsg-replace="true"></span>
                </div>
            </div>
        </form>
    </div>

    <div class="uif-modalbuttons width-save">
        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Language.Close</button>
        <button type="button" class="btn btn-primary" id="btnSaveConceptHeader">@Resources.Language.ButtonSave</button>
    </div>
</div>