<div class="row">
    <div class="uif-col-12">
        <table class="uif-table" id="tableTransportRisk" data-selectiontype="single" data-add="false" data-edit="false" data-filter="true"
               data-delete="false">
            <thead>
                <tr>
                    <th data-property="Risk"><b>@Resources.Language.Risk</b></th>
                    <th data-property="CityFromDescription"><b>@Resources.Language.City de origen</b></th>
                    <th data-property="CityToDescription"><b>@Resources.Language.City destino</b></th>
                    <th data-property="InsuredAmount" data-type="currency"><b>@Resources.Language.InsuredAmount</b></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>