<form id="formClauses" class="form">
    <div class="row">
        <div class="uif-col-12">
            <table class="uif-table" id="tableClauses" data-selectiontype="multiple" data-filter="false" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="Name">@Resources.Language.ClauseName</th>
                        <th data-property="Title">@Resources.Language.ClauseTitle</th>
                        <th data-property="Text" data-visible="false"></th>
                        <th data-property="IsMandatory" data-visible="false"></th>
                        <th data-property="Id" data-visible="false"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <br />
            <label id="labelClausesDetail"><b>@Resources.Language.LabelDetail</b></label>
            <textarea id="textClausesDetail" readonly rows="8" style="max-height: 100%; resize: none">
            </textarea>
        </div>
    </div>
</form>