<table id="tableConcepts" class="uif-table" data-exporttocsv="true" data-add="false" data-edit="false" data-delete="false" data-filter="true" data-selectiontype="none">
    <thead>
        <tr>
            <th data-property="Concept.Description">Descripción</th>
            <th data-property="Value">Valor</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>