<form id="formIndividualDetail" class="form">
    <table class="uif-table" data-title="" data-selectiontype="single" id="tableIndividualDetails" data-filter="false" data-paginate="true">
        <thead>
            <tr>
                <th data-property="NameNum" data-visible="false"></th>
                <th data-property="Detail"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <br/>
    <div class="uif-row">
        <div class="uif-col-12">
            <div class="pull-right">
                <button type="button" class="btn btn-primary" id="btnIndividualDetailAccept">
                    <span aria-hidden="true"></span>
                    @Resources.Language.ButtonAccept
                </button>
            </div>
        </div>
    </div>
</form>