<div class="row">
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-selectiontype="single" id="tblResultListAcceptedAgents" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="Id">@Resources.Language.LabelId</th>
                        <th data-property="AgentId">@Resources.Language.LabelCode</th>
                        <th data-property="FullName">@Resources.Language.LabelDescription</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


