<form id="formTaxes" class="form modal-Colombia">
    <div class="uif-row"  style="margin-right:0px;">
        <div class="uif-col-12">
            <div id="listTaxes" class="uif-listview"></div>
            @*<table data-paginate="false" data-filter="true" class="uif-table" id="tableTaxes" data-add="false" data-source="">
        <thead>
            <tr>
                <th data-property="Id">Id</th>
                <th data-property="Description">@Resources.Language.Description</th>
                <th data-property="Value">@Resources.Language.Value</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>*@
        </div>
    </div>
</form>