
@{
    ViewData["Title"] = "Dynamic Forms";
    Layout = "~/Views/Shared/_LayoutForms.cshtml";
}

<div id="app"></div>

@section Scripts {
    <script>
        var dynamicForm = new DynamicForm({
            formId: '877B9888-BD4D-4E21-04BE-08D59358E0D6',
            element: document.getElementById('app'),
            endpoint: 'http://localhost:53908/graphql/'
        });
    </script>
}

