<script id="title-template" type="text/template">
    <div class="column-100">
        SUP
    </div>
    
</script>

<div id="supSourceFrame"style="width:100%">

</div>

<div id="supError" style="width:100%;" hidden>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6 text-center" style="color:#173d27">
            <h1 >
                <i class="fa fa-warning"></i>
            <br />
            <b> SISE2G </b> no está disponible.
            </h1>
            <br />
            <h3>Contacte con el Administrador.</h3>
        </div>
        <div class="col-xs-3">  </div>
    </div>
   
</div>
<input id="userName" type="hidden" value="@User.Identity.Name" />

<style >
    .column-100{
        width:100%!important;
    }
</style>
