<form id="formCoverage2G" class="form">
	<div class="uif-row" id="mainModelCoverage2G">
		<div class="uif-col-6">
			<label class="field-required">@Resources.Language.LabelInsuranceObject2G</label>
			<select class="uif-select form-control" id="selectInsuranceObject2G" data-val="true"
					data-id="Id" data-name="Id" name="InsuredObjectId2G"
					data-filter="true" data-native="false" required data-val-required="@Resources.Language.ErrorObject2G"></select>
			<span class="field-validation-valid" data-valmsg-for="InsuredObjectId2G" data-valmsg-replace="true"></span>
		</div>
		<div class="uif-col-12">
			<label class="field-required">@Resources.Language.LabelCoverage2G</label>
			<select class="uif-select form-control" id="selectCoCoverage2G" data-val="true"
					data-id="CoverageId2G" data-name="Description" name="CoCoverage2GId"
					data-filter="true" data-native="false" required data-val-required="@Resources.Language.ErrorCoverage2G"></select>
			<span class="field-validation-valid" data-valmsg-for="CoCoverage2GId" data-valmsg-replace="true"></span>
		</div>
	</div>
</form>