@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_QueryLayout.cshtml";
}

<div id="app"></div>

@section Scripts {
    <script>
        var QueryManager = new QueryManager({
            element: document.getElementById('app'),
            endpoint: 'http://localhost:60841/api'
        });
    </script>
}