@using Sistran.Core.Framework.UIF.Web.Resources

@{
    ViewBag.Title = "PaymentSumaryPartial";
}
    @*<form id="frmSummary" action="">*@

        <div class="uif-row">
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.TotalAmountLocalCurrency
                </label>
                <input type="text" id="TotalAmountCardRegularization" name="TotalAmountCardRegularization" 
                       style="text-align: right" class="uif2_required" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    <b>@Global.SubtotalLocalCurrency</b>
                </label>
                <input type="text" id="TotalCurrencyCardRegularization" name="TotalCurrencyCardRegularization" disabled="disabled" style="text-align: right" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    <b>@Global.SubtotalForeignExchange</b>
                </label>
                <input type="text" id="TotalExchangeRateCardRegularization" name="TotalExchangeRateCardRegularization" disabled="disabled" style="text-align: right" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    <b>@Global.LocalCurrencyDiference</b>
                </label>
                <input type="text" id="DifferenceCardRegularization" name="DifferenceCardRegularization" disabled="disabled" style="text-align: right" />
            </div>
            <input type="submit" id="validate_frmSummary" name="validate_frmSummary" style="visibility:hidden" />
        </div>
    @*</form>*@

