<form class="form">
    <div class="uif-panel">
        <div class="uif-row">
            <div class="uif-col-xs-12">
                <label for="">
                    Nombre del Paquete de Reglas
                </label>
                <input id="nameRuleSet" class="form-control" type="text" name="" value="" placeholder="">
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-xs-6">
                <label>@Resources.Language.LabelPackages</label>
                <select class="uif-select form-control"
                        id="selectPackageRuleSet"
                        data-selectedId="0"
                        data-source="@Url.Content("~/RuleSet/GetPackages")"
                        data-filter="true"
                        data-id="PackageId"
                        data-name="Description"></select>
            </div>
            <div class="uif-col-xs-6">
                <label>@Resources.Language.LabelLevels</label>
                <select class="uif-select form-control"
                        id="selectLevelRuleSet"
                        data-selectedid="0"
                        data-source=""
                        data-id="LevelId"
                        data-name="Description"
                        data-native="false"></select>
            </div>
        </div>
    </div>
</form>
