<form class="form">
    <div class="uif-panel">        
        <div class="uif-row">
            <div class="uif-col-xs-12">
                <label for="">
                    @Resources.Language.NameRule
                </label>
                <input id="nameRule" type="text" class="form-control" name="" value="" placeholder="">
            </div>
        </div>
    </div>
</form>
