@model Sistran.Core.Framework.UIF.Web.Areas.RulesScripts.Models.RuleSetViewModel

  <div class="uif-row " id="ContentCondition">
      <form class="form">
          <div class="uif-col-xs-12">
              <div class="uif-row">
                  <div class="uif-col-12">
                      <h4>@Resources.Language.EditActions</h4>
                  </div>
              </div>

              <div class="uif-row">
                  <div class="uif-col-12" id="panelConditionIf">
                      <label>@Resources.Language.LabelIf</label>
                      <select class="uif-select form-control" data-filter="true" data-native="false" id="conceptRightConditionSelect"></select>                      
                  </div>

                  <div class="uif-col-12" id="panelConditionIs">
                      <label>@Resources.Language.LabelIs</label>
                      <select
                          class="uif-select form-control"
                          id="conditionIs"
                          name="conditionIs"
                          data-selectedid="0"
                          data-source="null"
                          data-id="ComparatorSymbol"
                          data-name="ComparatorText">
                      </select>
                  </div>

                  <div class="uif-col-12" id="panelConditionValueTypes">
                      <label></label>
                      <select
                          class="uif-select form-control"
                          id="conditionValueTypes"
                          data-selectedid="0"
                          data-source="@Url.Content("~/RuleSet/GetValueTypes")"
                          data-id="Code"
                          data-name="Description">
                      </select>
                  </div>

                  <div class="uif-col-12" id="panelConditionConcept">
                      <label></label>
                      <select
                          class="uif-select form-control"
                          id="conceptLeftConditionSelect"
                          name="conceptLeftConditionSelect"
                          data-selectedid="0"
                          data-source="null"
                          data-id="Id"
                          data-name="Descripción">
                      </select>
                  </div>

                  <div class="uif-col-12" id="panelConditionReference">
                      <label></label>
                      <select
                          class="uif-select form-control"
                          id="referenciaConditionSelect"
                          name="referenciaConditionSelect"
                          data-selectedid="0"
                          data-source="null"
                          data-id="Id"
                          data-name="Descripción">
                      </select>
                  </div>

                  <div class="uif-col-12" id="panelConditionTextBox">
                      @*<label>TextBox</label>*@
                      <input type="text" id="conditionTextBox" />
                  </div>

                  <div class="uif-col-12" id="panelConditionNumberEditor">
                      @*<label>NumberEditor</label>*@
                      <input type="text" id="conditionNumberEditor" />
                  </div>

                  <div class="uif-col-12" id="panelConditionNumberDecimalEditor">
                      @*<label>NumberDecimalEditor</label>*@
                      <input type="text" id="conditionNumberDecimalEditor" />
                  </div>

                  <div class="uif-col-12" id="panelConditionDateEditor">
                      @*<label>DateEditor</label>*@
                      <input type="text" value="04/11/2015" class="uif-datepicker" id="conditionDateEditor" />                      
                  </div>

                  <div class="uif-col-12" id="panelConditionListEditor">
                      @*<label>ListEditor</label>*@
                      <select
                          class="uif-select form-control"
                          id="conditionListEditor"                        
                          data-source="null"
                          data-id="ListValueCode"
                          data-name="ListValue">
                      </select>
                  </div>
              </div>
          </div>          
      </form>
  </div>


