<form id="formDescription" class="form">
    <div class="row">
        <div class="uif-col-12">
            <label class="field-required">@Resources.Language.Description</label>
            <input type="text" class="uif-input" id="Description" data-val="true" data-val-required="@Resources.Language.RequiredField" name="Description" required />
            <span class="text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="uif-modalbuttons" id="buttonSaveSubcauses">
        <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">@Resources.Language.Cancel</button>
        <button type="button" class="btn btn-primary" id="btnSave">@Resources.Language.Save</button>
    </div>
    
</form>
