@{
    Layout = null;
}

@*<script id="title-template" type="text/template">
    <div class="column" id="titleMain">
        Validación de coincidencias
    </div>
</script>*@

<script id="title-template" type="text/template">
    <div class="column-70" id="titleMain">
        Validación de coincidencias
    </div>
    <div class="column-30 even" id="nameGroup">
        @Html.TextBox("Id", null, new { @class = "uif-input-search", id = "searchMatchProcess", @placeholder = @Resources.Language.search })
    </div>
</script>

<br />



<div id="modalEditBasicInfo">
    <div div class="row">
        <div class="uif-col-4">
            <label class="field-required">Nombre/Razón Social/Documento</label>
            <input class="uif-input" data-val="true" id="inputIdNumber" name="inputIdNumber" placeholder="Ingrese un valor para iniciar la búsqueda" type="text">
        </div>
    </div>
    <div div class="row">
        <div class="uif-col-8">
            <button id="validateMatchPerson" class="btn btn-default add-button" disabled  ><span class="glyphicon glyphicon-plus"></span> Validar</button>
            <button id="matchingProcess" class="btn btn-default add-button" ><span class="glyphicon glyphicon-plus"></span> Procesar</button>
            <button id="exportExcel"  class="btn btn-default btn-export" disabled><span><span class="glyphicon glyphicon-th-list"></span> Exportar</span></button>
        </div>
    </div>
</div>