
@{
    Layout = null;
}
<div class="row">
    <div class="uif-col-12 fit-col-main">
        <table class="uif-table table-fixed max" id="tableAssignEntity" data-exporttocsv="false" data-alignactions="right" data-exportname="cultura" data-add="false" data-edit="false" data-delete="false" data-filter="true" data-selectiontype="multiple"
               data-paginate="false" data-sort="true">
            <thead>
                <tr>
                    <th data-property="EntityDescription">Entidad</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="uif-modalbuttons width-save">
            <button type="button" class="btn btn-default" id="btnCancelAssign" data-dismiss="modal">@Resources.Language.ButtonExit</button>
            @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0651"))
            {
                <button type="button" class="btn btn-primary" id="btnSaveAssign">@Resources.Language.ButtonSave</button>
            }

        </div>
    </div>
</div>