<div class="has-scroll">
    <table class="uif-table" id="tableCondition"
           data-exporttocsv="false" data-alignactions="right" data-exportname="cultura" data-add="true" data-edit="true" data-delete="true" data-filter="true" data-selectiontype="none"
           data-paginate="false" data-pagesize="3" data-sort="true">
        <thead>
            <tr>
                @if (ViewBag.ListEntitiesCondition != null)
                {
                    <th data-property="IdCondition" data-visible="false"></th>
                    foreach (string item in ViewBag.ListEntitiesCondition as List<string>)
                    {
                        <th data-property="@item">@item</th>
                    }
                }
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>