<div class="uif-row">
                <div class="uif-col-6">
                    <label class="radio-inline">
                        <input type="radio" name="searchType" id="naturalPerson" checked="checked" value="naturalPerson">@Resources.Language.NaturalPerson
                    </label>
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-6">
                    <button type="button" class="btn btn-default" id="btnCancelNewPersonOnline" data-dismiss="modal">@Resources.Language.ButtonCancel</button>
                    <button type="button" class="btn btn-primary btn-main" id="btnAcceptNewPersonOnline">@Resources.Language.ButtonAccept</button>
                </div>
            </div>