@model Sistran.Core.Framework.UIF.Web.Areas.Endorsement.Models.ModificationViewModel
@using Sistran.Core.Framework.UIF.Web.Helpers;

<form id="formPrefixUser" class="form">

    <div class="row">
        <div class="uif-col-12">
            <table class="uif-table" id="tablePrefixUser" data-selectiontype="multiple" data-filter="false" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="Id" data-visible="false"></th>
                        <th data-property="Description"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <br />
        </div>
    </div>
</form>

