@model Sistran.Core.Framework.UIF.Web.Areas.UniqueUser.Models.UserProductModelsView
@using Sistran.Core.Framework.UIF.Web.Helpers;
<form id="formUserProduct" class="form modal-Colombia">
    <div class="row">
        <div class="uif-col-6">
            <label class="field-required">@Resources.Language.LabelPrefix</label>
            <select class="uif-select form-control" id="selectPrefixCodeSearch" data-val="true" 
                    data-val-required="@Resources.Language.ErrorPrefix" data-id="Id" data-name="Description" 
                    name="PrefixCodeSearch"
                    data-filter="true" data-native="false"></select>
        </div>
    </div>
    <div class="row uif-col-12">
        <table class="uif-table" id="tableUserProduct" data-source="" data-exporttocsv="false" data-exportname="cultura" data-add="false" data-edit="false" data-delete="false" data-filter="true" data-selectiontype="none" data-sort="false">
            <thead>
                <tr>
                    <th data-property="Assign" data-type="boolean">Asignado</th>
                    <th data-property="Enabled" data-type="boolean">Habilitado</th>
                    <th data-property="ProductDescription">Descripción Producto</th>
                    <th data-property="PrefixCode" data-visible="false">PrefixCode</th>
                    <th data-property="UserId" data-visible="false">UserId</th>
                    <th data-property="ProductId" data-visible="false">ProductId</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</form>
