<form id="formClaimViaBaloto" class="form">    
    <div class="row">
        <div class="uif-col-12 fit-col-main">
            <div class="uif-row">
                <div class="uif-col-12">
                    <label class="field-required">@Resources.Language.LabelConfirmDocument</label>
                    <input type="text" name="inputConfirmDocument" value="" id="inputConfirmDocument" data-val="true" data-val-required="@Resources.Language.RequiredField" class="uif-input" required="required" />
                    <span class="text-danger" data-valmsg-for="inputConfirmDocument" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="uif-modalbuttons width-save">
                    <button type="button" class="btn btn-primary" id="btnAcceptClaimViaBaloto">@Resources.Language.Accept</button>
                </div>
            </div>
    </div>
</form>
