<div class="row">
    <div style="width:100%; padding-left:150px; padding-right:150px">
        <div class="uif-col-12">
            <table data-paginate="false" data-selectiontype="multiple" class="uif-table" id="TableTypeOfAssistance"
                   @*data-title="@Resources.Language.LabelTypesOfAssistanceId"*@ data-filter="true" data-add="false">
                <thead>
					<tr>
						<th data-property="Id" style="padding:0px!important;">@Resources.Language.AssistanceCode</th>
						<th data-property="Description" style="padding:0px!important;">@Resources.Language.TypesOfAssistance</th>
					</tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    
</div>
