<div class="row">
    <div class="uif-col-12">
        <table id="tblClaimsByPolicy" class="uif-table" data-source="" data-selectiontype="single" data-filter="true">
            <thead>
                <tr>
                    <th data-property="ClaimId" data-visible="false"></th>
                    <th data-property="Number"><b>@Resources.Language.NumberSinister</b></th>
                    <th data-property="OccurrenceDate"><b>@Resources.Language.LabelSinisterDate</b></th>
                    <th data-property="EstimatedValue" data-type="currency"><b>@Resources.Language.EstimatedValue</b></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="uif-modalbuttons" id="buttonPolicyConsult">
    <button type="button" class="btn btn-primary" id="btnShowClaim" data-dismiss="modal">@Resources.Language.Accept</button>
</div>






